In [1]:
import time, os
import torch
import numpy as np
import torch.nn as nn

import pandas as pd
from tqdm import tqdm

import json
import pickle

/users/cost/jlovonme/miniconda3/envs/hierarchy/lib/python3.8/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
def load_json(filepath):
    with open(filepath, 'r') as f:
        data = json.load(f)
    return data

In [4]:
# Dataset sizes
_dataset_base = "/users/cost/jlovonme/data"
ds_sizes = {}
for prop in range(9):
    _propfile = "hierarchy_props/bansal_with_defs_testprop_{prop}.json".format(prop=str(prop))
    df = pd.read_json(load_json(os.path.join(_dataset_base,_propfile)), orient="index")
    ndf = df[df['valid']==1]
    ds_sizes[prop] = len(ndf)
    print(prop, len(ndf))

0 1435
1 7658
2 8273
3 6522
4 7658
5 8273
6 6522
7 33160
8 31746

# Gather results obtained after parallel launch with gather_results.py script

In [3]:
def create_table_results(itype, models,props=9 ):
    bigtable = []
    _props = 9
    for _prop in range(props):
        for _model in _models:
            _ifile = os.path.join(basepath,'results_{input_type}_p{prop}_{model}.json'.format(input_type=itype,
                                                                                                   prop=_prop,
                                                                                                   model=_model.replace('/','_')))
            df = pd.read_json(load_json(_ifile), orient="index")
            bigtable.append(df)
    bigdf = pd.concat(bigtable)
    return bigdf


def get_last_layers(bigdf):

    # Filter only last layer for each model
    maxlayer_dict = {}
    for (idx,row) in bigdf.groupby(['model']).max()['layer'].iteritems():
        maxlayer_dict[idx] = row


    last_layers = []
    for mod,lay in maxlayer_dict.items():
        last_layers.append(bigdf[(bigdf['model']==mod) & (bigdf['layer']==lay)])

    lastlayer_df = pd.concat(last_layers)
    return lastlayer_df


def get_top_by_prop(df,prop, method):
    pdf =df[df['prop'] == prop]
    lmethod = [method,method+"_l1",method+"_l2",method+"_l3"]
    if method=='avg':
        lmethod[0] = 'avg_a'
        method='avg_a'
    return pdf.sort_values(method, ascending=False).groupby(['model']).head(1).sort_values(method,ascending=False)[['input','model','prop','layer',*lmethod]]

def get_last_by_prop(df,prop):
    pdf =df[df['prop'] == prop]
    #return pdf.sort_values(method,ascending=False)[['input','model','prop','layer',method]]
    return pdf

In [6]:
basepath = './computed_results_v2'
_dataset_base = "/users/cost/jlovonme/data"
_inputtype = 'name' # name or concept
#_methods = ['cls','avg_all']
_methods = ['cls','avg_a','cls_l1','avg_l1','cls_l2','avg_l2','cls_l3','avg_l3','ecls','eavg','ecls_l1','eavg_l1','ecls_l2','eavg_l2','ecls_l3','eavg_l3']
_models = ['ft-cc','ft-wiki','bert-base-cased','bert-large-cased','roberta-base','roberta-large','sentence-transformers/all-mpnet-base-v2',
          'allenai/scibert_scivocab_cased','ctp','ernie-base','sentence-transformers/bert-base-nli-mean-tokens','sentence-transformers/all-distilroberta-v1']
#_models = ['bert-base-cased']
orderedmethod = ['cls','cls_l1','cls_l2','cls_l3','avg_a','avg_l1','avg_l2','avg_l3','ecls','ecls_l1','ecls_l2','ecls_l3','eavg','eavg_l1','eavg_l2','eavg_l3']

# For name

In [8]:
_bigdf = create_table_results(_inputtype, _models,props=9 )

In [9]:
_lastlayers = get_last_layers(_bigdf)

In [24]:
for p in range(9):
    for method in ['cls','avg','ecls','eavg']:
        print("Property",p, method)
        display(get_top_by_prop(_bigdf,p, method))

Property 0 cls

,input,model,prop,layer,cls,cls_l1,cls_l2,cls_l3
0,name,ft-cc,0,0,72.61,64.18,68.43,66.34
0,name,ft-wiki,0,0,70.73,58.19,70.10,68.15
6,name,sentence-transformers/all-distilroberta-v1,0,6,68.85,57.84,69.20,68.36
2,name,sentence-transformers/bert-base-nli-mean-tokens,0,2,67.32,55.68,66.41,65.23
4,name,allenai/scibert_scivocab_cased,0,4,67.25,55.96,66.20,65.30
5,name,ernie-base,0,5,66.62,56.31,66.69,65.92
1,name,bert-base-cased,0,1,64.81,57.28,65.16,62.44
12,name,sentence-transformers/all-mpnet-base-v2,0,12,64.74,66.55,65.37,65.57
17,name,ctp,0,17,63.97,55.33,63.97,63.00
1,name,roberta-base,0,1,61.81,54.77,59.09,56.93
24,name,roberta-large,0,24,61.53,55.47,61.60,61.67
2,name,bert-large-cased,0,2,59.02,52.82,57.63,56.66

Property 0 avg

,input,model,prop,layer,avg_a,avg_l1,avg_l2,avg_l3
0,name,ft-cc,0,0,72.61,64.18,68.43,66.34
0,name,ft-wiki,0,0,70.73,58.19,70.10,68.15
8,name,ctp,0,8,70.31,55.33,68.92,66.76
6,name,sentence-transformers/all-distilroberta-v1,0,6,70.31,55.82,70.31,69.48
8,name,roberta-large,0,8,70.24,55.61,67.67,64.67
2,name,sentence-transformers/all-mpnet-base-v2,0,2,69.62,55.33,68.71,67.94
3,name,bert-base-cased,0,3,69.41,53.80,65.85,64.39
4,name,allenai/scibert_scivocab_cased,0,4,69.34,56.10,68.36,66.20
6,name,bert-large-cased,0,6,67.60,50.52,63.69,61.81
6,name,sentence-transformers/bert-base-nli-mean-tokens,0,6,67.25,52.06,64.53,63.28
1,name,roberta-base,0,1,67.04,56.03,65.44,65.64
12,name,ernie-base,0,12,66.34,56.03,64.04,62.65

Property 0 ecls

,input,model,prop,layer,ecls,ecls_l1,ecls_l2,ecls_l3
0,name,ft-wiki,0,0,70.10,69.62,69.97,69.83
6,name,sentence-transformers/all-distilroberta-v1,0,6,68.43,68.50,68.43,68.50
2,name,sentence-transformers/bert-base-nli-mean-tokens,0,2,67.32,67.46,67.32,67.32
4,name,allenai/scibert_scivocab_cased,0,4,67.18,67.39,67.18,67.25
5,name,ernie-base,0,5,66.97,66.62,66.97,66.90
0,name,ft-cc,0,0,66.83,65.09,66.27,66.20
1,name,bert-base-cased,0,1,64.88,65.99,64.88,64.88
12,name,sentence-transformers/all-mpnet-base-v2,0,12,64.11,63.62,63.97,63.76
17,name,ctp,0,17,63.97,63.90,63.97,63.97
1,name,roberta-base,0,1,61.74,61.32,61.67,61.67
24,name,roberta-large,0,24,61.53,61.53,61.53,61.53
1,name,bert-large-cased,0,1,58.12,57.91,58.12,58.19

Property 0 eavg

,input,model,prop,layer,eavg,eavg_l1,eavg_l2,eavg_l3
1,name,allenai/scibert_scivocab_cased,0,1,72.89,72.75,72.89,72.89
8,name,ctp,0,8,70.45,70.38,70.45,70.45
0,name,ft-wiki,0,0,70.10,69.62,69.97,69.83
6,name,sentence-transformers/all-distilroberta-v1,0,6,70.10,69.97,70.10,70.17
8,name,roberta-large,0,8,69.48,69.20,69.48,69.48
7,name,sentence-transformers/all-mpnet-base-v2,0,7,68.43,67.74,68.36,68.43
0,name,ft-cc,0,0,66.83,65.09,66.27,66.20
3,name,bert-base-cased,0,3,66.34,66.20,66.34,66.34
12,name,ernie-base,0,12,66.06,66.20,66.06,66.13
1,name,roberta-base,0,1,65.64,65.44,65.64,65.64
5,name,sentence-transformers/bert-base-nli-mean-tokens,0,5,65.16,64.74,65.16,65.16
9,name,bert-large-cased,0,9,63.69,63.69,63.76,63.76

Property 1 cls

,input,model,prop,layer,cls,cls_l1,cls_l2,cls_l3
0,name,ft-cc,1,0,66.39,49.28,54.87,52.83
12,name,sentence-transformers/all-mpnet-base-v2,1,12,62.20,57.77,61.40,60.36
1,name,sentence-transformers/all-distilroberta-v1,1,1,60.96,47.82,48.52,48.13
0,name,ft-wiki,1,0,60.79,49.62,57.36,55.29
4,name,sentence-transformers/bert-base-nli-mean-tokens,1,4,57.27,49.26,56.22,55.37
2,name,bert-base-cased,1,2,55.58,50.99,54.47,53.46
3,name,allenai/scibert_scivocab_cased,1,3,54.30,51.83,54.34,54.23
2,name,ernie-base,1,2,53.24,50.51,53.70,53.49
4,name,roberta-large,1,4,52.12,50.42,52.09,51.02
10,name,ctp,1,10,49.83,48.82,49.02,49.37
12,name,roberta-base,1,12,49.50,48.75,48.07,48.73
1,name,bert-large-cased,1,1,37.66,36.63,36.77,37.07

Property 1 avg

,input,model,prop,layer,avg_a,avg_l1,avg_l2,avg_l3
0,name,ft-cc,1,0,66.39,49.28,54.87,52.83
12,name,sentence-transformers/all-mpnet-base-v2,1,12,63.08,42.43,56.83,53.26
0,name,ft-wiki,1,0,60.79,49.62,57.36,55.29
6,name,sentence-transformers/all-distilroberta-v1,1,6,58.98,46.75,56.45,55.08
1,name,allenai/scibert_scivocab_cased,1,1,56.02,37.24,50.95,47.44
2,name,bert-base-cased,1,2,55.93,33.70,44.49,41.55
12,name,sentence-transformers/bert-base-nli-mean-tokens,1,12,55.25,45.99,55.05,54.69
24,name,bert-large-cased,1,24,52.27,30.80,39.75,36.88
1,name,ernie-base,1,1,50.64,34.24,45.57,42.17
12,name,roberta-base,1,12,44.54,46.85,45.99,46.45
16,name,roberta-large,1,16,42.99,42.30,42.33,41.64
8,name,ctp,1,8,42.23,36.71,39.24,38.39

Property 1 ecls

,input,model,prop,layer,ecls,ecls_l1,ecls_l2,ecls_l3
12,name,sentence-transformers/all-mpnet-base-v2,1,12,62.51,62.47,62.54,62.64
6,name,sentence-transformers/all-distilroberta-v1,1,6,61.44,61.36,61.45,61.45
4,name,sentence-transformers/bert-base-nli-mean-tokens,1,4,57.38,57.34,57.35,57.34
2,name,bert-base-cased,1,2,55.38,55.05,55.43,55.41
3,name,allenai/scibert_scivocab_cased,1,3,54.40,54.35,54.40,54.39
0,name,ft-wiki,1,0,53.66,52.31,53.50,53.40
2,name,ernie-base,1,2,53.51,53.36,53.56,53.54
4,name,roberta-large,1,4,52.09,51.92,52.06,52.05
0,name,ft-cc,1,0,50.89,49.13,50.93,50.33
10,name,ctp,1,10,49.88,49.86,49.88,49.91
12,name,roberta-base,1,12,49.62,48.76,49.53,49.63
23,name,bert-large-cased,1,23,38.09,38.14,38.09,38.08

Property 1 eavg

,input,model,prop,layer,eavg,eavg_l1,eavg_l2,eavg_l3
0,name,ft-wiki,1,0,53.66,52.31,53.50,53.40
12,name,sentence-transformers/bert-base-nli-mean-tokens,1,12,52.65,52.69,52.66,52.66
0,name,ft-cc,1,0,50.89,49.13,50.93,50.33
12,name,sentence-transformers/all-mpnet-base-v2,1,12,49.41,48.50,49.29,49.20
12,name,ernie-base,1,12,48.00,47.96,48.00,48.03
6,name,sentence-transformers/all-distilroberta-v1,1,6,46.59,46.68,46.59,46.58
12,name,roberta-base,1,12,44.97,44.82,45.00,44.99
12,name,allenai/scibert_scivocab_cased,1,12,42.57,42.50,42.57,42.57
24,name,roberta-large,1,24,42.23,42.24,42.23,42.22
24,name,ctp,1,24,42.18,42.18,42.18,42.18
3,name,bert-base-cased,1,3,36.47,36.12,36.46,36.42
24,name,bert-large-cased,1,24,33.14,32.91,33.15,33.14

Property 2 cls

,input,model,prop,layer,cls,cls_l1,cls_l2,cls_l3
0,name,ft-cc,2,0,80.00,69.19,73.47,71.45
0,name,ft-wiki,2,0,76.89,60.35,75.38,73.88
6,name,sentence-transformers/all-distilroberta-v1,2,6,72.57,55.80,70.97,69.60
12,name,sentence-transformers/all-mpnet-base-v2,2,12,71.45,69.59,71.49,71.27
2,name,sentence-transformers/bert-base-nli-mean-tokens,2,2,66.67,57.08,65.54,64.58
2,name,bert-base-cased,2,2,63.99,56.30,62.32,60.63
2,name,ernie-base,2,2,63.74,53.43,62.02,60.59
17,name,roberta-large,2,17,63.22,55.77,63.18,62.05
2,name,ctp,2,2,63.05,53.66,59.43,57.42
3,name,allenai/scibert_scivocab_cased,2,3,62.81,54.54,62.03,61.11
12,name,roberta-base,2,12,61.22,51.58,53.48,52.57
2,name,bert-large-cased,2,2,55.13,49.98,55.06,54.31

Property 2 avg

,input,model,prop,layer,avg_a,avg_l1,avg_l2,avg_l3
0,name,ft-cc,2,0,80.00,69.19,73.47,71.45
0,name,ft-wiki,2,0,76.89,60.35,75.38,73.88
12,name,sentence-transformers/all-mpnet-base-v2,2,12,73.23,62.71,71.32,69.58
6,name,sentence-transformers/all-distilroberta-v1,2,6,72.75,53.09,71.01,69.77
1,name,allenai/scibert_scivocab_cased,2,1,68.77,47.70,66.66,64.92
2,name,bert-base-cased,2,2,68.06,44.54,63.34,61.34
12,name,sentence-transformers/bert-base-nli-mean-tokens,2,12,67.04,56.75,67.24,67.27
10,name,bert-large-cased,2,10,65.85,41.44,59.87,56.58
3,name,ernie-base,2,3,65.84,45.68,62.98,60.86
10,name,ctp,2,10,63.54,46.72,60.41,57.77
0,name,roberta-base,2,0,62.32,50.16,59.46,57.49
7,name,roberta-large,2,7,62.02,47.60,59.89,57.42

Property 2 ecls

,input,model,prop,layer,ecls,ecls_l1,ecls_l2,ecls_l3
0,name,ft-cc,2,0,73.17,71.94,73.20,72.65
12,name,sentence-transformers/all-mpnet-base-v2,2,12,71.51,71.46,71.51,71.52
6,name,sentence-transformers/all-distilroberta-v1,2,6,71.51,71.56,71.52,71.50
0,name,ft-wiki,2,0,71.50,71.35,71.51,71.50
2,name,sentence-transformers/bert-base-nli-mean-tokens,2,2,66.71,66.52,66.74,66.74
1,name,bert-base-cased,2,1,63.92,63.80,63.91,63.93
2,name,ernie-base,2,2,63.76,63.64,63.75,63.77
17,name,roberta-large,2,17,63.37,63.52,63.37,63.37
2,name,ctp,2,2,63.05,62.93,63.04,63.07
3,name,allenai/scibert_scivocab_cased,2,3,62.78,62.67,62.78,62.79
12,name,roberta-base,2,12,60.39,56.87,60.07,59.72
1,name,bert-large-cased,2,1,52.87,52.75,52.87,52.88

Property 2 eavg

,input,model,prop,layer,eavg,eavg_l1,eavg_l2,eavg_l3
0,name,ft-cc,2,0,73.17,71.94,73.20,72.65
0,name,ft-wiki,2,0,71.50,71.35,71.51,71.50
6,name,sentence-transformers/all-distilroberta-v1,2,6,66.51,66.48,66.53,66.53
12,name,sentence-transformers/all-mpnet-base-v2,2,12,66.48,65.99,66.47,66.36
12,name,sentence-transformers/bert-base-nli-mean-tokens,2,12,65.97,66.00,65.97,65.97
12,name,ernie-base,2,12,63.44,63.39,63.45,63.46
4,name,allenai/scibert_scivocab_cased,2,4,61.16,60.91,61.15,61.13
10,name,ctp,2,10,60.96,60.81,60.93,60.95
5,name,roberta-base,2,5,59.94,59.92,59.94,59.94
3,name,bert-base-cased,2,3,59.86,59.75,59.85,59.85
15,name,roberta-large,2,15,59.43,59.22,59.42,59.41
4,name,bert-large-cased,2,4,56.78,56.70,56.79,56.80

Property 3 cls

,input,model,prop,layer,cls,cls_l1,cls_l2,cls_l3
0,name,ft-cc,3,0,79.91,68.46,72.36,70.62
0,name,ft-wiki,3,0,76.66,56.78,74.50,71.97
12,name,sentence-transformers/all-mpnet-base-v2,3,12,72.74,70.30,72.82,72.66
6,name,sentence-transformers/all-distilroberta-v1,3,6,71.14,55.63,69.35,68.45
4,name,sentence-transformers/bert-base-nli-mean-tokens,3,4,69.98,56.18,69.29,68.77
2,name,bert-base-cased,3,2,67.89,54.52,63.09,60.30
2,name,ernie-base,3,2,64.57,53.08,63.25,61.12
3,name,allenai/scibert_scivocab_cased,3,3,62.88,52.79,61.79,60.12
2,name,ctp,3,2,62.76,53.89,60.53,59.35
2,name,roberta-large,3,2,62.43,54.42,60.38,58.42
12,name,roberta-base,3,12,58.63,48.16,49.66,48.87
2,name,bert-large-cased,3,2,57.38,53.89,58.13,57.87

Property 3 avg

,input,model,prop,layer,avg_a,avg_l1,avg_l2,avg_l3
0,name,ft-cc,3,0,79.91,68.46,72.36,70.62
0,name,ft-wiki,3,0,76.66,56.78,74.50,71.97
12,name,sentence-transformers/all-mpnet-base-v2,3,12,73.37,60.93,71.34,69.78
6,name,sentence-transformers/all-distilroberta-v1,3,6,73.21,52.04,71.19,69.83
2,name,bert-base-cased,3,2,71.05,44.33,65.72,63.62
12,name,sentence-transformers/bert-base-nli-mean-tokens,3,12,67.72,57.90,67.65,67.82
1,name,bert-large-cased,3,1,67.60,44.20,64.73,63.22
1,name,allenai/scibert_scivocab_cased,3,1,67.54,44.23,65.88,64.64
1,name,ernie-base,3,1,65.95,44.85,63.65,62.65
8,name,ctp,3,8,57.74,42.55,53.01,50.31
0,name,roberta-large,3,0,57.53,42.46,54.26,51.72
0,name,roberta-base,3,0,57.28,46.40,54.81,52.79

Property 3 ecls

,input,model,prop,layer,ecls,ecls_l1,ecls_l2,ecls_l3
12,name,sentence-transformers/all-mpnet-base-v2,3,12,73.32,73.44,73.38,73.35
0,name,ft-cc,3,0,72.49,70.39,72.98,72.08
6,name,sentence-transformers/all-distilroberta-v1,3,6,72.22,72.19,72.22,72.23
4,name,sentence-transformers/bert-base-nli-mean-tokens,3,4,69.93,69.89,69.93,69.93
0,name,ft-wiki,3,0,69.89,69.63,69.75,69.81
2,name,bert-base-cased,3,2,67.83,67.39,67.82,67.80
2,name,ernie-base,3,2,64.64,64.64,64.64,64.61
3,name,allenai/scibert_scivocab_cased,3,3,62.91,62.76,62.89,62.89
2,name,ctp,3,2,62.79,63.08,62.82,62.83
2,name,roberta-large,3,2,62.43,62.51,62.42,62.40
11,name,roberta-base,3,11,58.36,58.13,58.31,58.31
1,name,bert-large-cased,3,1,54.06,53.79,54.05,54.02

Property 3 eavg

,input,model,prop,layer,eavg,eavg_l1,eavg_l2,eavg_l3
0,name,ft-cc,3,0,72.49,70.39,72.98,72.08
0,name,ft-wiki,3,0,69.89,69.63,69.75,69.81
12,name,sentence-transformers/all-mpnet-base-v2,3,12,67.33,67.03,67.19,67.20
12,name,sentence-transformers/bert-base-nli-mean-tokens,3,12,66.77,66.77,66.77,66.79
6,name,sentence-transformers/all-distilroberta-v1,3,6,64.29,64.26,64.29,64.27
11,name,ernie-base,3,11,61.84,61.87,61.84,61.85
3,name,bert-base-cased,3,3,59.51,59.43,59.49,59.49
3,name,allenai/scibert_scivocab_cased,3,3,59.14,59.12,59.14,59.14
1,name,bert-large-cased,3,1,56.12,56.03,56.13,56.12
24,name,roberta-large,3,24,54.80,54.72,54.77,54.75
10,name,ctp,3,10,54.51,54.45,54.51,54.51
4,name,roberta-base,3,4,52.93,52.87,52.91,52.90

Property 4 cls

,input,model,prop,layer,cls,cls_l1,cls_l2,cls_l3
1,name,sentence-transformers/all-distilroberta-v1,4,1,54.88,47.82,48.29,48.18
11,name,sentence-transformers/all-mpnet-base-v2,4,11,50.12,47.10,48.34,47.83
4,name,roberta-large,4,4,47.18,51.74,49.28,50.03
2,name,ctp,4,2,46.45,47.05,46.37,47.18
12,name,sentence-transformers/bert-base-nli-mean-tokens,4,12,45.82,43.30,45.57,45.51
9,name,bert-large-cased,4,9,45.18,46.55,45.44,46.02
1,name,ernie-base,4,1,45.18,43.71,43.21,42.54
2,name,roberta-base,4,2,44.70,46.75,45.76,46.10
2,name,bert-base-cased,4,2,44.65,45.42,44.28,45.04
0,name,ft-wiki,4,0,44.10,45.09,44.33,44.53
0,name,ft-cc,4,0,42.50,42.58,42.32,42.80
1,name,allenai/scibert_scivocab_cased,4,1,36.69,41.06,38.12,38.97

Property 4 avg

,input,model,prop,layer,avg_a,avg_l1,avg_l2,avg_l3
24,name,bert-large-cased,4,24,48.08,39.25,43.04,41.88
12,name,sentence-transformers/bert-base-nli-mean-tokens,4,12,47.62,46.87,47.95,48.43
12,name,sentence-transformers/all-mpnet-base-v2,4,12,46.15,40.92,44.29,43.63
0,name,ft-wiki,4,0,44.10,45.09,44.33,44.53
0,name,ft-cc,4,0,42.50,42.58,42.32,42.80
12,name,bert-base-cased,4,12,40.40,36.33,38.50,37.46
6,name,sentence-transformers/all-distilroberta-v1,4,6,39.76,44.45,39.49,39.61
12,name,roberta-base,4,12,38.56,43.14,38.76,39.34
3,name,ernie-base,4,3,38.29,43.56,38.57,38.87
12,name,allenai/scibert_scivocab_cased,4,12,38.00,37.97,36.93,36.11
16,name,roberta-large,4,16,37.41,38.52,35.56,35.95
24,name,ctp,4,24,36.73,41.12,36.89,36.95

Property 4 ecls

,input,model,prop,layer,ecls,ecls_l1,ecls_l2,ecls_l3
1,name,sentence-transformers/all-distilroberta-v1,4,1,55.25,51.89,55.11,55.00
11,name,sentence-transformers/all-mpnet-base-v2,4,11,50.17,48.92,49.93,49.43
4,name,roberta-large,4,4,47.22,47.30,47.23,47.24
2,name,ctp,4,2,46.47,46.92,46.53,46.51
12,name,sentence-transformers/bert-base-nli-mean-tokens,4,12,46.03,45.99,46.03,46.02
1,name,ernie-base,4,1,45.25,44.88,45.25,45.22
2,name,roberta-base,4,2,44.84,44.96,44.84,44.80
2,name,bert-base-cased,4,2,44.61,44.15,44.58,44.59
9,name,bert-large-cased,4,9,44.25,44.24,44.27,44.31
0,name,ft-cc,4,0,41.12,41.64,41.69,42.24
0,name,ft-wiki,4,0,39.67,39.71,39.71,39.74
1,name,allenai/scibert_scivocab_cased,4,1,37.03,37.14,37.05,37.07

Property 4 eavg

,input,model,prop,layer,eavg,eavg_l1,eavg_l2,eavg_l3
12,name,sentence-transformers/bert-base-nli-mean-tokens,4,12,46.07,46.06,46.07,46.07
0,name,ft-cc,4,0,41.12,41.64,41.69,42.24
0,name,ft-wiki,4,0,39.67,39.71,39.71,39.74
12,name,sentence-transformers/all-mpnet-base-v2,4,12,39.57,39.33,39.55,39.45
24,name,bert-large-cased,4,24,38.61,38.55,38.60,38.60
12,name,roberta-base,4,12,37.26,37.16,37.28,37.26
12,name,bert-base-cased,4,12,37.16,37.05,37.15,37.18
24,name,ctp,4,24,36.73,36.73,36.73,36.73
24,name,roberta-large,4,24,36.62,36.68,36.62,36.63
11,name,ernie-base,4,11,35.26,35.26,35.27,35.30
6,name,sentence-transformers/all-distilroberta-v1,4,6,33.83,33.86,33.83,33.83
12,name,allenai/scibert_scivocab_cased,4,12,31.71,31.71,31.71,31.73

Property 5 cls

,input,model,prop,layer,cls,cls_l1,cls_l2,cls_l3
0,name,ft-cc,5,0,63.15,53.17,55.75,54.51
1,name,sentence-transformers/all-distilroberta-v1,5,1,62.01,47.55,48.18,47.91
12,name,sentence-transformers/all-mpnet-base-v2,5,12,60.50,53.83,59.01,57.73
0,name,ft-wiki,5,0,59.51,52.96,59.10,57.67
4,name,sentence-transformers/bert-base-nli-mean-tokens,5,4,54.72,46.60,54.60,53.31
2,name,ernie-base,5,2,53.89,46.78,51.78,50.60
12,name,bert-base-cased,5,12,53.80,47.96,51.55,50.37
17,name,roberta-large,5,17,51.93,53.20,53.81,53.69
12,name,roberta-base,5,12,51.08,44.02,45.00,44.62
3,name,ctp,5,3,50.45,52.94,51.43,51.78
3,name,allenai/scibert_scivocab_cased,5,3,47.91,46.73,48.16,47.76
13,name,bert-large-cased,5,13,42.29,45.59,42.73,42.95

Property 5 avg

,input,model,prop,layer,avg_a,avg_l1,avg_l2,avg_l3
0,name,ft-cc,5,0,63.15,53.17,55.75,54.51
12,name,sentence-transformers/all-mpnet-base-v2,5,12,61.16,45.65,57.50,54.03
0,name,ft-wiki,5,0,59.51,52.96,59.10,57.67
6,name,sentence-transformers/all-distilroberta-v1,5,6,58.65,42.21,54.02,51.25
12,name,sentence-transformers/bert-base-nli-mean-tokens,5,12,56.23,44.34,55.89,55.34
2,name,bert-base-cased,5,2,52.29,37.77,45.75,43.64
24,name,bert-large-cased,5,24,51.70,35.03,41.42,39.99
1,name,ernie-base,5,1,51.11,38.83,45.61,43.66
1,name,allenai/scibert_scivocab_cased,5,1,50.43,36.41,43.73,41.70
16,name,roberta-large,5,16,44.49,36.15,40.05,38.91
12,name,roberta-base,5,12,42.73,44.05,43.24,43.53
0,name,ctp,5,0,40.09,34.78,35.61,34.99

Property 5 ecls

,input,model,prop,layer,ecls,ecls_l1,ecls_l2,ecls_l3
1,name,sentence-transformers/all-distilroberta-v1,5,1,62.47,56.12,62.31,62.29
12,name,sentence-transformers/all-mpnet-base-v2,5,12,59.78,59.43,59.71,59.83
4,name,sentence-transformers/bert-base-nli-mean-tokens,5,4,54.72,54.66,54.71,54.68
0,name,ft-wiki,5,0,54.59,53.75,54.43,54.39
2,name,ernie-base,5,2,54.07,53.81,54.07,53.97
12,name,bert-base-cased,5,12,52.67,52.56,52.64,52.62
0,name,ft-cc,5,0,52.21,52.40,53.06,52.87
17,name,roberta-large,5,17,52.09,52.05,52.09,52.09
11,name,roberta-base,5,11,50.59,50.48,50.60,50.61
3,name,ctp,5,3,50.49,50.56,50.49,50.49
3,name,allenai/scibert_scivocab_cased,5,3,47.95,47.85,47.94,47.91
13,name,bert-large-cased,5,13,42.63,42.58,42.63,42.63

Property 5 eavg

,input,model,prop,layer,eavg,eavg_l1,eavg_l2,eavg_l3
0,name,ft-wiki,5,0,54.59,53.75,54.43,54.39
12,name,sentence-transformers/bert-base-nli-mean-tokens,5,12,53.54,53.61,53.55,53.55
0,name,ft-cc,5,0,52.21,52.40,53.06,52.87
12,name,ernie-base,5,12,49.01,49.21,49.03,49.01
12,name,sentence-transformers/all-mpnet-base-v2,5,12,48.92,48.45,48.83,48.81
12,name,roberta-base,5,12,44.03,43.71,43.95,43.94
24,name,roberta-large,5,24,42.26,42.21,42.25,42.26
12,name,allenai/scibert_scivocab_cased,5,12,41.48,41.39,41.47,41.47
6,name,sentence-transformers/all-distilroberta-v1,5,6,40.43,40.38,40.44,40.44
11,name,bert-base-cased,5,11,39.74,39.76,39.71,39.71
24,name,bert-large-cased,5,24,37.73,37.45,37.73,37.73
24,name,ctp,5,24,36.69,36.67,36.69,36.69

Property 6 cls

,input,model,prop,layer,cls,cls_l1,cls_l2,cls_l3
12,name,sentence-transformers/all-mpnet-base-v2,6,12,65.64,57.51,64.55,62.83
1,name,sentence-transformers/all-distilroberta-v1,6,1,64.18,47.45,48.28,47.90
0,name,ft-cc,6,0,60.44,55.12,56.62,56.92
0,name,ft-wiki,6,0,59.80,52.61,58.20,57.48
12,name,sentence-transformers/bert-base-nli-mean-tokens,6,12,56.13,49.63,55.86,55.52
2,name,bert-base-cased,6,2,56.06,50.44,53.27,52.10
4,name,roberta-large,6,4,54.35,51.15,52.38,51.30
2,name,ctp,6,2,54.17,49.72,51.82,50.83
2,name,ernie-base,6,2,52.81,46.00,51.56,51.03
12,name,roberta-base,6,12,52.25,45.40,45.83,45.52
3,name,allenai/scibert_scivocab_cased,6,3,50.11,48.68,49.02,48.79
2,name,bert-large-cased,6,2,46.60,48.39,48.18,48.76

Property 6 avg

,input,model,prop,layer,avg_a,avg_l1,avg_l2,avg_l3
12,name,sentence-transformers/all-mpnet-base-v2,6,12,66.56,48.80,63.23,59.92
0,name,ft-cc,6,0,60.44,55.12,56.62,56.92
6,name,sentence-transformers/all-distilroberta-v1,6,6,60.23,41.83,56.30,53.13
0,name,ft-wiki,6,0,59.80,52.61,58.20,57.48
12,name,sentence-transformers/bert-base-nli-mean-tokens,6,12,57.93,47.22,57.04,56.58
24,name,bert-large-cased,6,24,54.92,32.57,42.06,39.83
2,name,bert-base-cased,6,2,53.83,39.50,47.68,46.72
1,name,allenai/scibert_scivocab_cased,6,1,49.59,37.83,44.00,42.47
12,name,ernie-base,6,12,49.49,49.08,50.00,50.86
15,name,roberta-large,6,15,44.45,31.85,38.79,36.54
5,name,roberta-base,6,5,43.31,36.40,38.03,36.80
0,name,ctp,6,0,42.84,32.23,37.86,36.29

Property 6 ecls

,input,model,prop,layer,ecls,ecls_l1,ecls_l2,ecls_l3
12,name,sentence-transformers/all-mpnet-base-v2,6,12,67.17,66.67,67.11,66.97
1,name,sentence-transformers/all-distilroberta-v1,6,1,64.95,57.38,64.64,64.49
2,name,bert-base-cased,6,2,56.03,55.89,56.04,56.01
12,name,sentence-transformers/bert-base-nli-mean-tokens,6,12,55.61,55.67,55.61,55.61
0,name,ft-cc,6,0,55.06,55.34,56.15,56.52
4,name,roberta-large,6,4,54.40,54.37,54.37,54.40
2,name,ctp,6,2,54.19,54.03,54.17,54.14
2,name,ernie-base,6,2,52.96,52.61,52.94,52.65
0,name,ft-wiki,6,0,52.01,52.04,51.96,51.90
12,name,roberta-base,6,12,51.56,51.18,51.70,51.79
3,name,allenai/scibert_scivocab_cased,6,3,50.08,50.09,50.06,50.08
9,name,bert-large-cased,6,9,44.91,45.00,44.92,44.94

Property 6 eavg

,input,model,prop,layer,eavg,eavg_l1,eavg_l2,eavg_l3
12,name,sentence-transformers/all-mpnet-base-v2,6,12,56.88,55.90,56.62,56.58
12,name,sentence-transformers/bert-base-nli-mean-tokens,6,12,55.50,55.49,55.50,55.50
0,name,ft-cc,6,0,55.06,55.34,56.15,56.52
0,name,ft-wiki,6,0,52.01,52.04,51.96,51.90
12,name,ernie-base,6,12,48.64,48.70,48.65,48.67
24,name,roberta-large,6,24,42.85,42.61,42.82,42.78
6,name,sentence-transformers/all-distilroberta-v1,6,6,42.30,42.23,42.33,42.33
12,name,roberta-base,6,12,42.00,42.16,42.01,42.04
12,name,allenai/scibert_scivocab_cased,6,12,40.79,40.62,40.79,40.79
11,name,bert-base-cased,6,11,40.13,40.16,40.13,40.13
24,name,ctp,6,24,38.39,38.39,38.39,38.39
24,name,bert-large-cased,6,24,38.06,37.70,38.04,38.03

Property 7 cls

,input,model,prop,layer,cls,cls_l1,cls_l2,cls_l3
0,name,ft-cc,7,0,67.19,62.18,64.35,63.02
6,name,sentence-transformers/all-distilroberta-v1,7,6,66.88,56.55,66.25,65.38
11,name,bert-base-cased,7,11,66.41,54.80,65.32,63.91
0,name,ft-wiki,7,0,64.91,60.05,64.81,63.97
5,name,allenai/scibert_scivocab_cased,7,5,64.60,55.75,63.58,62.45
24,name,roberta-large,7,24,63.31,56.03,63.21,62.99
12,name,roberta-base,7,12,62.58,52.51,54.07,53.23
1,name,bert-large-cased,7,1,62.56,56.23,61.35,60.49
14,name,ctp,7,14,61.97,51.97,59.25,57.15
7,name,ernie-base,7,7,61.52,54.57,61.47,61.21
12,name,sentence-transformers/all-mpnet-base-v2,7,12,61.45,60.71,61.47,61.26
6,name,sentence-transformers/bert-base-nli-mean-tokens,7,6,61.41,52.85,60.92,60.34

Property 7 avg

,input,model,prop,layer,avg_a,avg_l1,avg_l2,avg_l3
5,name,sentence-transformers/all-distilroberta-v1,7,5,68.21,57.67,67.80,67.25
0,name,ft-cc,7,0,67.19,62.18,64.35,63.02
10,name,ctp,7,10,66.68,57.42,66.24,65.24
2,name,allenai/scibert_scivocab_cased,7,2,66.19,59.02,66.30,65.51
0,name,bert-large-cased,7,0,66.03,58.84,64.65,63.63
4,name,roberta-large,7,4,65.88,55.31,64.74,63.62
3,name,roberta-base,7,3,65.71,54.53,64.35,62.76
1,name,bert-base-cased,7,1,65.59,57.20,64.40,63.43
0,name,ft-wiki,7,0,64.91,60.05,64.81,63.97
2,name,sentence-transformers/all-mpnet-base-v2,7,2,64.83,59.09,64.12,63.29
0,name,ernie-base,7,0,63.26,56.79,62.09,61.11
5,name,sentence-transformers/bert-base-nli-mean-tokens,7,5,62.99,56.46,62.10,61.48

Property 7 ecls

,input,model,prop,layer,ecls,ecls_l1,ecls_l2,ecls_l3
11,name,bert-base-cased,7,11,66.31,66.31,66.31,66.30
4,name,sentence-transformers/all-distilroberta-v1,7,4,66.21,64.98,66.24,66.20
5,name,allenai/scibert_scivocab_cased,7,5,64.50,64.47,64.50,64.50
0,name,ft-wiki,7,0,64.45,64.63,64.47,64.49
24,name,roberta-large,7,24,63.32,63.31,63.32,63.32
18,name,bert-large-cased,7,18,62.60,62.58,62.60,62.60
12,name,roberta-base,7,12,62.38,60.05,62.30,62.14
0,name,ft-cc,7,0,62.28,62.05,62.01,61.89
14,name,ctp,7,14,62.04,61.93,62.04,62.05
12,name,sentence-transformers/all-mpnet-base-v2,7,12,61.94,61.95,61.97,61.97
7,name,ernie-base,7,7,61.61,61.60,61.60,61.60
6,name,sentence-transformers/bert-base-nli-mean-tokens,7,6,61.48,61.45,61.47,61.47

Property 7 eavg

,input,model,prop,layer,eavg,eavg_l1,eavg_l2,eavg_l3
5,name,sentence-transformers/all-distilroberta-v1,7,5,67.93,67.88,67.92,67.93
1,name,bert-base-cased,7,1,67.29,67.25,67.29,67.28
1,name,allenai/scibert_scivocab_cased,7,1,67.24,67.22,67.24,67.25
10,name,ctp,7,10,66.75,66.79,66.74,66.74
1,name,bert-large-cased,7,1,66.66,66.68,66.66,66.65
9,name,roberta-large,7,9,65.79,65.81,65.79,65.79
2,name,roberta-base,7,2,65.65,65.62,65.66,65.65
2,name,sentence-transformers/all-mpnet-base-v2,7,2,65.49,65.54,65.48,65.46
0,name,ft-wiki,7,0,64.45,64.63,64.47,64.49
1,name,ernie-base,7,1,64.40,64.37,64.40,64.41
5,name,sentence-transformers/bert-base-nli-mean-tokens,7,5,63.94,63.95,63.94,63.94
0,name,ft-cc,7,0,62.28,62.05,62.01,61.89

Property 8 cls

,input,model,prop,layer,cls,cls_l1,cls_l2,cls_l3
0,name,ft-cc,8,0,69.29,61.84,64.67,63.14
0,name,ft-wiki,8,0,67.09,56.34,64.79,63.39
6,name,sentence-transformers/all-distilroberta-v1,8,6,66.84,55.84,66.00,65.30
5,name,bert-base-cased,8,5,64.27,54.50,63.71,63.10
2,name,allenai/scibert_scivocab_cased,8,2,62.43,55.97,62.94,62.81
12,name,sentence-transformers/all-mpnet-base-v2,8,12,62.35,60.67,62.17,62.02
8,name,roberta-large,8,8,61.70,55.07,60.49,59.34
11,name,bert-large-cased,8,11,61.53,52.68,60.82,60.12
11,name,roberta-base,8,11,61.20,51.69,58.16,55.92
8,name,ctp,8,8,60.50,53.98,60.09,59.15
4,name,sentence-transformers/bert-base-nli-mean-tokens,8,4,59.38,50.54,59.15,58.56
7,name,ernie-base,8,7,58.56,51.00,58.58,58.38

Property 8 avg

,input,model,prop,layer,avg_a,avg_l1,avg_l2,avg_l3
0,name,ft-cc,8,0,69.29,61.84,64.67,63.14
6,name,sentence-transformers/all-distilroberta-v1,8,6,67.64,53.56,67.10,66.15
1,name,bert-large-cased,8,1,67.34,54.93,65.84,64.42
0,name,ft-wiki,8,0,67.09,56.34,64.79,63.39
1,name,bert-base-cased,8,1,66.59,54.97,65.21,63.99
10,name,ctp,8,10,66.17,52.47,64.87,63.59
1,name,allenai/scibert_scivocab_cased,8,1,65.70,56.53,66.04,65.13
6,name,roberta-large,8,6,64.99,53.26,64.04,62.59
0,name,roberta-base,8,0,64.98,56.54,64.10,62.79
12,name,sentence-transformers/all-mpnet-base-v2,8,12,63.02,60.50,63.10,62.81
1,name,ernie-base,8,1,61.55,52.97,60.92,60.23
1,name,sentence-transformers/bert-base-nli-mean-tokens,8,1,61.26,52.82,60.80,60.06

Property 8 ecls

,input,model,prop,layer,ecls,ecls_l1,ecls_l2,ecls_l3
6,name,sentence-transformers/all-distilroberta-v1,8,6,66.29,66.24,66.29,66.28
0,name,ft-wiki,8,0,64.91,64.75,64.89,64.87
11,name,bert-base-cased,8,11,64.53,64.56,64.53,64.52
0,name,ft-cc,8,0,64.32,63.53,64.18,63.59
12,name,sentence-transformers/all-mpnet-base-v2,8,12,62.79,62.65,62.77,62.77
2,name,allenai/scibert_scivocab_cased,8,2,62.45,62.53,62.46,62.46
8,name,roberta-large,8,8,61.72,61.70,61.71,61.71
11,name,roberta-base,8,11,61.23,61.24,61.24,61.25
12,name,bert-large-cased,8,12,61.21,61.20,61.22,61.21
8,name,ctp,8,8,60.50,60.49,60.50,60.50
4,name,sentence-transformers/bert-base-nli-mean-tokens,8,4,59.30,59.40,59.30,59.29
7,name,ernie-base,8,7,58.66,58.64,58.66,58.66

Property 8 eavg

,input,model,prop,layer,eavg,eavg_l1,eavg_l2,eavg_l3
6,name,sentence-transformers/all-distilroberta-v1,8,6,67.42,67.36,67.41,67.42
1,name,bert-large-cased,8,1,66.40,66.34,66.40,66.39
1,name,bert-base-cased,8,1,66.15,66.11,66.15,66.15
10,name,ctp,8,10,65.90,65.89,65.89,65.90
0,name,ft-wiki,8,0,64.91,64.75,64.89,64.87
10,name,roberta-large,8,10,64.78,64.75,64.78,64.78
3,name,roberta-base,8,3,64.63,64.56,64.62,64.62
2,name,allenai/scibert_scivocab_cased,8,2,64.42,64.36,64.41,64.41
0,name,ft-cc,8,0,64.32,63.53,64.18,63.59
12,name,sentence-transformers/all-mpnet-base-v2,8,12,63.09,63.03,63.09,63.10
8,name,sentence-transformers/bert-base-nli-mean-tokens,8,8,60.14,60.14,60.14,60.14
8,name,ernie-base,8,8,59.95,59.90,59.94,59.93

In [7]:
for p in range(9):
    #for method in _methods:
    print("Property",p)
    display(get_last_by_prop(_lastlayers,p)[['input','model','prop','layer',*orderedmethod]])

Property 0

,input,model,prop,layer,cls,cls_l1,cls_l2,cls_l3,avg_a,avg_l1,avg_l2,avg_l3,ecls,ecls_l1,ecls_l2,ecls_l3,eavg,eavg_l1,eavg_l2,eavg_l3
12,name,allenai/scibert_scivocab_cased,0,12,61.53,56.79,61.53,61.39,65.57,60.42,66.13,66.69,61.60,61.67,61.67,61.67,66.97,67.18,66.97,66.97
12,name,bert-base-cased,0,12,61.32,51.57,59.30,57.42,54.98,50.31,52.75,52.68,61.46,62.09,61.53,61.53,53.87,53.59,53.94,53.94
24,name,bert-large-cased,0,24,51.99,51.85,53.17,53.73,61.46,48.85,56.59,54.43,52.20,52.33,52.20,52.20,53.52,53.10,53.52,53.52
24,name,ctp,0,24,58.95,59.30,58.95,58.89,58.12,56.72,57.70,57.49,59.02,59.02,59.02,59.02,58.40,58.33,58.40,58.40
12,name,ernie-base,0,12,61.67,53.10,59.58,57.98,66.34,56.03,64.04,62.65,61.53,61.46,61.53,61.60,66.06,66.20,66.06,66.13
0,name,ft-cc,0,0,72.61,64.18,68.43,66.34,72.61,64.18,68.43,66.34,66.83,65.09,66.27,66.20,66.83,65.09,66.27,66.20
0,name,ft-wiki,0,0,70.73,58.19,70.10,68.15,70.73,58.19,70.10,68.15,70.10,69.62,69.97,69.83,70.10,69.62,69.97,69.83
12,name,roberta-base,0,12,58.12,53.31,54.01,53.80,57.77,54.22,55.54,55.26,57.70,56.93,57.77,57.56,57.98,58.05,57.91,57.77
24,name,roberta-large,0,24,61.53,55.47,61.60,61.67,62.44,55.19,60.70,58.95,61.53,61.53,61.53,61.53,62.30,62.30,62.30,62.30
6,name,sentence-transformers/all-distilroberta-v1,0,6,68.85,57.84,69.20,68.36,70.31,55.82,70.31,69.48,68.43,68.50,68.43,68.50,70.10,69.97,70.10,70.17
12,name,sentence-transformers/all-mpnet-base-v2,0,12,64.74,66.55,65.37,65.57,66.41,60.91,65.16,65.64,64.11,63.62,63.97,63.76,66.41,66.27,66.27,66.20
12,name,sentence-transformers/bert-base-nli-mean-tokens,0,12,62.65,60.14,62.86,63.69,63.69,60.07,64.39,64.60,62.09,62.09,62.09,62.09,63.90,63.76,63.90,63.90

Property 1

,input,model,prop,layer,cls,cls_l1,cls_l2,cls_l3,avg_a,avg_l1,avg_l2,avg_l3,ecls,ecls_l1,ecls_l2,ecls_l3,eavg,eavg_l1,eavg_l2,eavg_l3
12,name,allenai/scibert_scivocab_cased,1,12,38.76,40.02,38.27,38.12,48.67,44.08,47.61,47.11,38.16,38.16,38.17,38.17,42.57,42.50,42.57,42.57
12,name,bert-base-cased,1,12,47.60,44.40,46.60,45.76,35.02,26.16,30.49,29.43,46.85,46.70,46.84,46.84,29.58,29.32,29.56,29.55
24,name,bert-large-cased,1,24,33.13,40.83,35.28,36.16,52.27,30.80,39.75,36.88,35.57,35.58,35.58,35.58,33.14,32.91,33.15,33.14
24,name,ctp,1,24,42.64,43.67,42.69,42.70,42.22,47.61,42.39,42.65,42.64,42.65,42.64,42.64,42.18,42.18,42.18,42.18
12,name,ernie-base,1,12,48.15,47.11,47.49,47.56,50.09,50.46,50.35,51.38,47.90,47.83,47.92,47.94,48.00,47.96,48.00,48.03
0,name,ft-cc,1,0,66.39,49.28,54.87,52.83,66.39,49.28,54.87,52.83,50.89,49.13,50.93,50.33,50.89,49.13,50.93,50.33
0,name,ft-wiki,1,0,60.79,49.62,57.36,55.29,60.79,49.62,57.36,55.29,53.66,52.31,53.50,53.40,53.66,52.31,53.50,53.40
12,name,roberta-base,1,12,49.50,48.75,48.07,48.73,44.54,46.85,45.99,46.45,49.62,48.76,49.53,49.63,44.97,44.82,45.00,44.99
24,name,roberta-large,1,24,51.21,49.95,51.10,51.31,42.57,45.42,42.19,42.71,51.24,51.20,51.24,51.24,42.23,42.24,42.23,42.22
6,name,sentence-transformers/all-distilroberta-v1,1,6,56.42,50.04,55.47,55.00,58.98,46.75,56.45,55.08,61.44,61.36,61.45,61.45,46.59,46.68,46.59,46.58
12,name,sentence-transformers/all-mpnet-base-v2,1,12,62.20,57.77,61.40,60.36,63.08,42.43,56.83,53.26,62.51,62.47,62.54,62.64,49.41,48.50,49.29,49.20
12,name,sentence-transformers/bert-base-nli-mean-tokens,1,12,52.77,51.46,52.94,52.73,55.25,45.99,55.05,54.69,52.31,52.27,52.31,52.31,52.65,52.69,52.66,52.66

Property 2

,input,model,prop,layer,cls,cls_l1,cls_l2,cls_l3,avg_a,avg_l1,avg_l2,avg_l3,ecls,ecls_l1,ecls_l2,ecls_l3,eavg,eavg_l1,eavg_l2,eavg_l3
12,name,allenai/scibert_scivocab_cased,2,12,56.46,51.25,56.11,55.55,64.74,54.62,63.98,63.25,55.61,55.61,55.61,55.61,60.98,61.05,60.98,60.98
12,name,bert-base-cased,2,12,62.35,50.19,60.20,57.80,53.78,41.09,49.95,48.37,61.55,61.42,61.59,61.55,49.56,49.35,49.56,49.56
24,name,bert-large-cased,2,24,48.59,47.79,48.70,48.66,61.91,41.86,52.35,49.99,48.92,48.97,48.92,48.92,47.06,46.80,47.07,47.06
24,name,ctp,2,24,47.85,47.99,47.85,47.84,48.72,48.97,48.74,48.59,47.89,47.88,47.89,47.89,48.62,48.60,48.62,48.62
12,name,ernie-base,2,12,63.70,49.32,59.22,56.09,64.62,55.88,64.31,63.92,63.52,63.19,63.51,63.53,63.44,63.39,63.45,63.46
0,name,ft-cc,2,0,80.00,69.19,73.47,71.45,80.00,69.19,73.47,71.45,73.17,71.94,73.20,72.65,73.17,71.94,73.20,72.65
0,name,ft-wiki,2,0,76.89,60.35,75.38,73.88,76.89,60.35,75.38,73.88,71.50,71.35,71.51,71.50,71.50,71.35,71.51,71.50
12,name,roberta-base,2,12,61.22,51.58,53.48,52.57,57.26,51.07,55.54,53.51,60.39,56.87,60.07,59.72,57.44,57.22,57.44,57.43
24,name,roberta-large,2,24,62.26,53.87,62.35,62.48,56.61,49.69,54.62,53.68,62.25,62.26,62.25,62.25,56.44,56.35,56.45,56.45
6,name,sentence-transformers/all-distilroberta-v1,2,6,72.57,55.80,70.97,69.60,72.75,53.09,71.01,69.77,71.51,71.56,71.52,71.50,66.51,66.48,66.53,66.53
12,name,sentence-transformers/all-mpnet-base-v2,2,12,71.45,69.59,71.49,71.27,73.23,62.71,71.32,69.58,71.51,71.46,71.51,71.52,66.48,65.99,66.47,66.36
12,name,sentence-transformers/bert-base-nli-mean-tokens,2,12,65.65,60.88,65.82,65.74,67.04,56.75,67.24,67.27,65.32,65.37,65.32,65.33,65.97,66.00,65.97,65.97

Property 3

,input,model,prop,layer,cls,cls_l1,cls_l2,cls_l3,avg_a,avg_l1,avg_l2,avg_l3,ecls,ecls_l1,ecls_l2,ecls_l3,eavg,eavg_l1,eavg_l2,eavg_l3
12,name,allenai/scibert_scivocab_cased,3,12,51.46,48.91,51.61,51.23,62.10,51.29,60.55,59.77,50.92,50.86,50.92,50.90,57.27,57.16,57.27,57.27
12,name,bert-base-cased,3,12,61.88,46.93,58.65,55.17,53.10,39.27,49.08,47.36,60.67,60.50,60.72,60.72,48.51,48.19,48.50,48.47
24,name,bert-large-cased,3,24,48.14,48.73,48.05,47.95,65.09,40.57,52.71,50.17,48.51,48.42,48.51,48.51,46.78,46.41,46.80,46.80
24,name,ctp,3,24,45.57,46.44,45.52,45.49,45.78,47.47,45.89,45.97,45.63,45.63,45.63,45.63,45.72,45.72,45.72,45.72
12,name,ernie-base,3,12,62.76,49.13,58.25,55.14,63.52,53.99,63.03,61.51,62.39,62.05,62.36,62.37,61.71,61.56,61.68,61.65
0,name,ft-cc,3,0,79.91,68.46,72.36,70.62,79.91,68.46,72.36,70.62,72.49,70.39,72.98,72.08,72.49,70.39,72.98,72.08
0,name,ft-wiki,3,0,76.66,56.78,74.50,71.97,76.66,56.78,74.50,71.97,69.89,69.63,69.75,69.81,69.89,69.63,69.75,69.81
12,name,roberta-base,3,12,58.63,48.16,49.66,48.87,51.41,46.09,48.13,47.33,57.68,54.65,57.41,57.25,50.49,50.26,50.46,50.46
24,name,roberta-large,3,24,58.85,52.97,58.52,58.40,55.11,47.96,53.22,51.92,58.85,58.85,58.85,58.85,54.80,54.72,54.77,54.75
6,name,sentence-transformers/all-distilroberta-v1,3,6,71.14,55.63,69.35,68.45,73.21,52.04,71.19,69.83,72.22,72.19,72.22,72.23,64.29,64.26,64.29,64.27
12,name,sentence-transformers/all-mpnet-base-v2,3,12,72.74,70.30,72.82,72.66,73.37,60.93,71.34,69.78,73.32,73.44,73.38,73.35,67.33,67.03,67.19,67.20
12,name,sentence-transformers/bert-base-nli-mean-tokens,3,12,66.36,61.70,66.59,66.80,67.72,57.90,67.65,67.82,66.18,66.16,66.18,66.18,66.77,66.77,66.77,66.79

Property 4

,input,model,prop,layer,cls,cls_l1,cls_l2,cls_l3,avg_a,avg_l1,avg_l2,avg_l3,ecls,ecls_l1,ecls_l2,ecls_l3,eavg,eavg_l1,eavg_l2,eavg_l3
12,name,allenai/scibert_scivocab_cased,4,12,32.36,39.12,32.71,33.10,38.00,37.97,36.93,36.11,31.88,31.91,31.89,31.90,31.71,31.71,31.71,31.73
12,name,bert-base-cased,4,12,39.64,42.53,38.03,39.12,40.40,36.33,38.50,37.46,38.01,37.83,38.00,38.00,37.16,37.05,37.15,37.18
24,name,bert-large-cased,4,24,41.59,46.07,43.29,43.90,48.08,39.25,43.04,41.88,42.58,42.60,42.57,42.54,38.61,38.55,38.60,38.60
24,name,ctp,4,24,37.52,38.60,37.56,37.53,36.73,41.12,36.89,36.95,37.52,37.52,37.52,37.52,36.73,36.73,36.73,36.73
12,name,ernie-base,4,12,38.70,40.51,37.67,38.04,35.92,41.06,36.46,36.89,38.44,38.21,38.46,38.43,34.80,34.93,34.80,34.79
0,name,ft-cc,4,0,42.50,42.58,42.32,42.80,42.50,42.58,42.32,42.80,41.12,41.64,41.69,42.24,41.12,41.64,41.69,42.24
0,name,ft-wiki,4,0,44.10,45.09,44.33,44.53,44.10,45.09,44.33,44.53,39.67,39.71,39.71,39.74,39.67,39.71,39.71,39.74
12,name,roberta-base,4,12,42.23,50.57,49.52,49.76,38.56,43.14,38.76,39.34,42.73,44.96,42.94,43.01,37.26,37.16,37.28,37.26
24,name,roberta-large,4,24,41.26,44.76,41.22,41.51,36.79,45.06,37.93,39.19,41.26,41.25,41.26,41.26,36.62,36.68,36.62,36.63
6,name,sentence-transformers/all-distilroberta-v1,4,6,39.68,41.66,38.06,37.58,39.76,44.45,39.49,39.61,44.92,44.95,44.91,44.92,33.83,33.86,33.83,33.83
12,name,sentence-transformers/all-mpnet-base-v2,4,12,46.83,44.46,46.21,45.76,46.15,40.92,44.29,43.63,46.28,46.21,46.21,46.19,39.57,39.33,39.55,39.45
12,name,sentence-transformers/bert-base-nli-mean-tokens,4,12,45.82,43.30,45.57,45.51,47.62,46.87,47.95,48.43,46.03,45.99,46.03,46.02,46.07,46.06,46.07,46.07

Property 5

,input,model,prop,layer,cls,cls_l1,cls_l2,cls_l3,avg_a,avg_l1,avg_l2,avg_l3,ecls,ecls_l1,ecls_l2,ecls_l3,eavg,eavg_l1,eavg_l2,eavg_l3
12,name,allenai/scibert_scivocab_cased,5,12,39.21,40.11,39.10,38.93,48.11,41.91,46.46,45.35,38.95,38.87,38.95,38.95,41.48,41.39,41.47,41.47
12,name,bert-base-cased,5,12,53.80,47.96,51.55,50.37,41.53,33.18,37.48,35.95,52.67,52.56,52.64,52.62,37.58,37.12,37.56,37.52
24,name,bert-large-cased,5,24,38.85,44.65,39.21,39.74,51.70,35.03,41.42,39.99,40.03,40.09,40.03,40.05,37.73,37.45,37.73,37.73
24,name,ctp,5,24,36.87,37.47,36.84,36.84,36.73,39.49,36.85,37.00,36.87,36.87,36.87,36.87,36.69,36.67,36.69,36.69
12,name,ernie-base,5,12,49.27,46.55,48.83,47.43,50.76,52.91,51.67,53.19,49.27,49.33,49.27,49.24,49.01,49.21,49.03,49.01
0,name,ft-cc,5,0,63.15,53.17,55.75,54.51,63.15,53.17,55.75,54.51,52.21,52.40,53.06,52.87,52.21,52.40,53.06,52.87
0,name,ft-wiki,5,0,59.51,52.96,59.10,57.67,59.51,52.96,59.10,57.67,54.59,53.75,54.43,54.39,54.59,53.75,54.43,54.39
12,name,roberta-base,5,12,51.08,44.02,45.00,44.62,42.73,44.05,43.24,43.53,49.78,48.21,49.78,49.66,44.03,43.71,43.95,43.94
24,name,roberta-large,5,24,47.67,46.43,47.54,47.15,42.66,39.96,39.24,38.96,47.67,47.66,47.67,47.67,42.26,42.21,42.25,42.26
6,name,sentence-transformers/all-distilroberta-v1,5,6,56.96,48.13,55.29,54.14,58.65,42.21,54.02,51.25,58.64,58.49,58.66,58.65,40.43,40.38,40.44,40.44
12,name,sentence-transformers/all-mpnet-base-v2,5,12,60.50,53.83,59.01,57.73,61.16,45.65,57.50,54.03,59.78,59.43,59.71,59.83,48.92,48.45,48.83,48.81
12,name,sentence-transformers/bert-base-nli-mean-tokens,5,12,54.02,51.05,53.87,54.08,56.23,44.34,55.89,55.34,53.27,53.22,53.26,53.26,53.54,53.61,53.55,53.55

Property 6

,input,model,prop,layer,cls,cls_l1,cls_l2,cls_l3,avg_a,avg_l1,avg_l2,avg_l3,ecls,ecls_l1,ecls_l2,ecls_l3,eavg,eavg_l1,eavg_l2,eavg_l3
12,name,allenai/scibert_scivocab_cased,6,12,37.96,41.37,37.44,37.43,47.30,41.37,44.80,44.08,36.71,36.72,36.71,36.71,40.79,40.62,40.79,40.79
12,name,bert-base-cased,6,12,51.69,47.07,49.85,49.42,41.64,34.67,37.83,36.84,50.17,50.08,50.17,50.15,37.29,37.07,37.29,37.29
24,name,bert-large-cased,6,24,41.97,46.44,43.24,43.81,54.92,32.57,42.06,39.83,42.16,42.16,42.16,42.16,38.06,37.70,38.04,38.03
24,name,ctp,6,24,39.02,39.87,39.08,39.05,38.42,39.48,38.47,38.39,39.04,39.07,39.04,39.04,38.39,38.39,38.39,38.39
12,name,ernie-base,6,12,51.44,43.38,48.37,46.49,49.49,49.08,50.00,50.86,50.97,50.74,51.01,51.03,48.64,48.70,48.65,48.67
0,name,ft-cc,6,0,60.44,55.12,56.62,56.92,60.44,55.12,56.62,56.92,55.06,55.34,56.15,56.52,55.06,55.34,56.15,56.52
0,name,ft-wiki,6,0,59.80,52.61,58.20,57.48,59.80,52.61,58.20,57.48,52.01,52.04,51.96,51.90,52.01,52.04,51.96,51.90
12,name,roberta-base,6,12,52.25,45.40,45.83,45.52,41.05,48.56,43.13,44.10,51.56,51.18,51.70,51.79,42.00,42.16,42.01,42.04
24,name,roberta-large,6,24,48.39,47.07,48.19,48.14,43.36,41.11,40.36,39.31,48.39,48.36,48.39,48.39,42.85,42.61,42.82,42.78
6,name,sentence-transformers/all-distilroberta-v1,6,6,60.36,46.37,56.53,54.12,60.23,41.83,56.30,53.13,62.54,62.47,62.51,62.53,42.30,42.23,42.33,42.33
12,name,sentence-transformers/all-mpnet-base-v2,6,12,65.64,57.51,64.55,62.83,66.56,48.80,63.23,59.92,67.17,66.67,67.11,66.97,56.88,55.90,56.62,56.58
12,name,sentence-transformers/bert-base-nli-mean-tokens,6,12,56.13,49.63,55.86,55.52,57.93,47.22,57.04,56.58,55.61,55.67,55.61,55.61,55.50,55.49,55.50,55.50

Property 7

,input,model,prop,layer,cls,cls_l1,cls_l2,cls_l3,avg_a,avg_l1,avg_l2,avg_l3,ecls,ecls_l1,ecls_l2,ecls_l3,eavg,eavg_l1,eavg_l2,eavg_l3
12,name,allenai/scibert_scivocab_cased,7,12,63.74,59.82,63.94,64.00,63.27,59.31,63.24,63.28,63.67,63.70,63.66,63.66,64.41,64.42,64.41,64.41
12,name,bert-base-cased,7,12,64.48,57.39,63.29,62.42,61.58,59.05,62.26,62.21,64.73,64.67,64.72,64.72,62.60,62.65,62.60,62.61
24,name,bert-large-cased,7,24,59.38,53.38,58.30,57.17,60.27,59.48,62.09,62.33,59.08,59.00,59.08,59.08,62.79,62.78,62.80,62.80
24,name,ctp,7,24,58.11,56.34,58.10,58.07,58.73,54.98,58.66,58.56,58.13,58.13,58.13,58.13,58.75,58.75,58.75,58.75
12,name,ernie-base,7,12,59.07,52.48,58.16,57.01,60.47,55.13,60.04,59.67,59.07,58.97,59.05,59.04,60.29,60.28,60.30,60.29
0,name,ft-cc,7,0,67.19,62.18,64.35,63.02,67.19,62.18,64.35,63.02,62.28,62.05,62.01,61.89,62.28,62.05,62.01,61.89
0,name,ft-wiki,7,0,64.91,60.05,64.81,63.97,64.91,60.05,64.81,63.97,64.45,64.63,64.47,64.49,64.45,64.63,64.47,64.49
12,name,roberta-base,7,12,62.58,52.51,54.07,53.23,63.53,54.03,60.93,59.16,62.38,60.05,62.30,62.14,63.58,63.43,63.55,63.57
24,name,roberta-large,7,24,63.31,56.03,63.21,62.99,63.48,51.09,61.07,59.19,63.32,63.31,63.32,63.32,63.51,63.42,63.51,63.52
6,name,sentence-transformers/all-distilroberta-v1,7,6,66.88,56.55,66.25,65.38,66.94,55.68,66.84,66.06,65.73,65.74,65.72,65.72,66.93,66.95,66.93,66.94
12,name,sentence-transformers/all-mpnet-base-v2,7,12,61.45,60.71,61.47,61.26,62.52,62.58,62.86,63.10,61.94,61.95,61.97,61.97,64.80,64.71,64.81,64.81
12,name,sentence-transformers/bert-base-nli-mean-tokens,7,12,57.44,54.48,57.39,57.28,58.91,54.48,58.87,58.87,57.46,57.46,57.45,57.45,59.20,59.21,59.20,59.20

Property 8

,input,model,prop,layer,cls,cls_l1,cls_l2,cls_l3,avg_a,avg_l1,avg_l2,avg_l3,ecls,ecls_l1,ecls_l2,ecls_l3,eavg,eavg_l1,eavg_l2,eavg_l3
12,name,allenai/scibert_scivocab_cased,8,12,58.31,55.07,58.02,57.92,59.89,54.79,59.46,59.18,58.30,58.34,58.30,58.30,59.86,59.84,59.87,59.87
12,name,bert-base-cased,8,12,63.47,54.59,62.27,61.09,61.80,56.05,61.71,61.05,63.23,63.19,63.25,63.24,61.93,61.92,61.93,61.93
24,name,bert-large-cased,8,24,56.60,53.21,55.80,55.37,59.26,55.69,59.28,58.91,56.29,56.21,56.28,56.28,59.83,59.76,59.84,59.85
24,name,ctp,8,24,54.88,53.69,54.84,54.82,55.06,52.13,55.08,54.97,54.88,54.88,54.88,54.88,55.01,55.04,55.01,55.01
12,name,ernie-base,8,12,57.47,49.62,55.14,53.63,59.24,51.16,58.30,57.27,57.42,57.33,57.40,57.40,59.06,58.97,59.04,59.02
0,name,ft-cc,8,0,69.29,61.84,64.67,63.14,69.29,61.84,64.67,63.14,64.32,63.53,64.18,63.59,64.32,63.53,64.18,63.59
0,name,ft-wiki,8,0,67.09,56.34,64.79,63.39,67.09,56.34,64.79,63.39,64.91,64.75,64.89,64.87,64.91,64.75,64.89,64.87
12,name,roberta-base,8,12,60.42,51.80,53.40,52.57,61.29,51.82,58.23,56.12,60.62,59.64,60.63,60.68,60.72,60.58,60.71,60.71
24,name,roberta-large,8,24,61.52,54.20,61.30,61.11,61.32,51.72,59.95,58.39,61.53,61.53,61.53,61.53,61.33,61.31,61.32,61.32
6,name,sentence-transformers/all-distilroberta-v1,8,6,66.84,55.84,66.00,65.30,67.64,53.56,67.10,66.15,66.29,66.24,66.29,66.28,67.42,67.36,67.41,67.42
12,name,sentence-transformers/all-mpnet-base-v2,8,12,62.35,60.67,62.17,62.02,63.02,60.50,63.10,62.81,62.79,62.65,62.77,62.77,63.09,63.03,63.09,63.10
12,name,sentence-transformers/bert-base-nli-mean-tokens,8,12,57.76,53.69,57.98,57.96,59.73,52.58,59.65,59.42,57.67,57.68,57.66,57.67,59.65,59.65,59.65,59.65

# For Concept

In [10]:
_bigdf = create_table_results('concept', _models,props=9 )
_lastlayers = get_last_layers(_bigdf)

In [26]:
for p in range(9):
    for method in ['cls','avg','ecls','eavg']:
        print("Property",p, method)
        display(get_top_by_prop(_bigdf,p, method))

Property 0 cls

,input,model,prop,layer,cls,cls_l1,cls_l2,cls_l3
12,concept,sentence-transformers/all-mpnet-base-v2,0,12,83.21,79.72,83.00,82.86
6,concept,sentence-transformers/all-distilroberta-v1,0,6,83.14,57.49,80.98,79.37
11,concept,bert-large-cased,0,11,81.25,57.56,80.14,78.05
0,concept,ft-wiki,0,0,79.65,64.95,73.17,69.62
4,concept,sentence-transformers/bert-base-nli-mean-tokens,0,4,78.82,55.40,76.72,74.15
4,concept,ernie-base,0,4,75.26,56.79,74.22,72.13
12,concept,bert-base-cased,0,12,72.61,54.70,67.60,64.74
2,concept,allenai/scibert_scivocab_cased,0,2,71.92,54.98,69.13,66.62
12,concept,roberta-base,0,12,65.99,53.94,56.38,54.91
5,concept,ctp,0,5,63.69,51.92,61.46,58.68
0,concept,ft-cc,0,0,63.34,56.79,58.68,56.24
5,concept,roberta-large,0,5,62.58,50.45,60.35,56.45

Property 0 avg

,input,model,prop,layer,avg_a,avg_l1,avg_l2,avg_l3
11,concept,sentence-transformers/all-mpnet-base-v2,0,11,86.20,69.48,85.02,83.14
6,concept,sentence-transformers/all-distilroberta-v1,0,6,85.16,57.14,83.28,80.07
1,concept,bert-large-cased,0,1,82.58,65.02,80.49,77.42
1,concept,allenai/scibert_scivocab_cased,0,1,80.42,59.30,76.59,73.38
1,concept,bert-base-cased,0,1,80.00,61.74,77.84,74.91
1,concept,ernie-base,0,1,79.86,63.07,77.77,74.77
0,concept,ft-wiki,0,0,79.65,64.95,73.17,69.62
3,concept,sentence-transformers/bert-base-nli-mean-tokens,0,3,79.30,60.35,76.10,73.31
10,concept,ctp,0,10,77.42,55.05,70.31,65.78
12,concept,roberta-base,0,12,76.38,60.56,69.13,65.23
9,concept,roberta-large,0,9,75.89,52.54,70.03,66.13
0,concept,ft-cc,0,0,63.34,56.79,58.68,56.24

Property 0 ecls

,input,model,prop,layer,ecls,ecls_l1,ecls_l2,ecls_l3
12,concept,sentence-transformers/all-mpnet-base-v2,0,12,83.14,83.21,83.21,83.28
11,concept,bert-large-cased,0,11,80.56,80.56,80.56,80.56
6,concept,sentence-transformers/all-distilroberta-v1,0,6,79.09,79.23,79.09,79.09
4,concept,sentence-transformers/bert-base-nli-mean-tokens,0,4,78.75,78.75,78.75,78.75
0,concept,ft-wiki,0,0,77.00,75.33,76.66,76.31
4,concept,ernie-base,0,4,75.33,75.26,75.33,75.33
12,concept,bert-base-cased,0,12,72.40,71.85,72.40,72.54
2,concept,allenai/scibert_scivocab_cased,0,2,71.85,71.78,71.71,71.71
12,concept,roberta-base,0,12,66.27,64.60,66.13,66.20
18,concept,ctp,0,18,63.76,63.55,63.83,63.83
5,concept,roberta-large,0,5,62.65,62.58,62.65,62.65
0,concept,ft-cc,0,0,60.35,58.82,59.51,58.75

Property 0 eavg

,input,model,prop,layer,eavg,eavg_l1,eavg_l2,eavg_l3
11,concept,sentence-transformers/all-mpnet-base-v2,0,11,86.06,85.78,85.85,85.99
1,concept,bert-large-cased,0,1,81.74,81.67,81.74,81.67
5,concept,sentence-transformers/all-distilroberta-v1,0,5,81.11,80.84,81.11,81.11
1,concept,bert-base-cased,0,1,80.28,80.35,80.28,80.28
1,concept,allenai/scibert_scivocab_cased,0,1,80.21,79.79,80.28,80.28
1,concept,sentence-transformers/bert-base-nli-mean-tokens,0,1,79.93,79.86,79.93,79.93
1,concept,ernie-base,0,1,79.58,79.51,79.65,79.65
10,concept,ctp,0,10,77.98,77.56,77.98,77.98
0,concept,ft-wiki,0,0,77.00,75.33,76.66,76.31
12,concept,roberta-base,0,12,76.59,75.82,76.52,76.59
9,concept,roberta-large,0,9,75.82,75.47,75.82,75.82
0,concept,ft-cc,0,0,60.35,58.82,59.51,58.75

Property 1 cls

,input,model,prop,layer,cls,cls_l1,cls_l2,cls_l3
12,concept,sentence-transformers/all-mpnet-base-v2,1,12,72.04,67.71,71.57,71.00
6,concept,sentence-transformers/all-distilroberta-v1,1,6,68.62,48.02,66.45,63.40
12,concept,sentence-transformers/bert-base-nli-mean-tokens,1,12,52.18,50.50,52.29,52.01
0,concept,ft-wiki,1,0,49.93,48.98,48.88,48.67
10,concept,bert-large-cased,1,10,46.88,44.75,46.13,45.48
2,concept,allenai/scibert_scivocab_cased,1,2,45.23,41.06,42.00,40.61
13,concept,roberta-large,1,13,44.41,48.22,45.42,45.82
4,concept,ernie-base,1,4,44.27,39.34,42.96,42.23
13,concept,ctp,1,13,43.42,45.69,44.07,44.79
0,concept,ft-cc,1,0,42.91,43.01,42.48,42.60
12,concept,bert-base-cased,1,12,42.86,48.54,45.26,45.83
11,concept,roberta-base,1,11,41.29,42.19,40.01,40.15

Property 1 avg

,input,model,prop,layer,avg_a,avg_l1,avg_l2,avg_l3
12,concept,sentence-transformers/all-mpnet-base-v2,1,12,69.27,62.56,68.19,67.16
6,concept,sentence-transformers/all-distilroberta-v1,1,6,68.18,44.05,63.01,58.71
12,concept,sentence-transformers/bert-base-nli-mean-tokens,1,12,51.89,46.44,51.50,51.23
0,concept,ft-wiki,1,0,49.93,48.98,48.88,48.67
3,concept,bert-large-cased,1,3,47.30,46.13,46.75,45.90
1,concept,ernie-base,1,1,46.50,47.11,46.37,46.13
1,concept,bert-base-cased,1,1,46.21,47.19,45.42,45.93
1,concept,allenai/scibert_scivocab_cased,1,1,45.52,46.87,45.51,45.18
0,concept,ft-cc,1,0,42.91,43.01,42.48,42.60
1,concept,ctp,1,1,41.30,43.75,40.14,39.97
1,concept,roberta-large,1,1,41.13,43.91,39.89,40.02
0,concept,roberta-base,1,0,39.03,38.72,38.82,38.80

Property 1 ecls

,input,model,prop,layer,ecls,ecls_l1,ecls_l2,ecls_l3
12,concept,sentence-transformers/all-mpnet-base-v2,1,12,71.22,71.02,71.14,71.12
6,concept,sentence-transformers/all-distilroberta-v1,1,6,65.90,65.81,65.92,65.92
12,concept,sentence-transformers/bert-base-nli-mean-tokens,1,12,52.15,52.13,52.15,52.15
0,concept,ft-wiki,1,0,49.52,49.39,49.36,49.41
10,concept,bert-large-cased,1,10,46.55,46.45,46.57,46.55
2,concept,allenai/scibert_scivocab_cased,1,2,45.44,45.13,45.44,45.43
13,concept,roberta-large,1,13,44.41,44.49,44.41,44.41
4,concept,ernie-base,1,4,44.40,44.20,44.40,44.38
13,concept,ctp,1,13,43.43,43.48,43.43,43.43
0,concept,ft-cc,1,0,43.28,43.08,43.21,42.92
12,concept,bert-base-cased,1,12,42.79,42.87,42.80,42.80
11,concept,roberta-base,1,11,41.34,41.16,41.33,41.30

Property 1 eavg

,input,model,prop,layer,eavg,eavg_l1,eavg_l2,eavg_l3
12,concept,sentence-transformers/all-mpnet-base-v2,1,12,69.72,69.44,69.69,69.68
6,concept,sentence-transformers/all-distilroberta-v1,1,6,69.54,68.79,69.48,69.43
12,concept,sentence-transformers/bert-base-nli-mean-tokens,1,12,51.32,51.19,51.32,51.32
0,concept,ft-wiki,1,0,49.52,49.39,49.36,49.41
5,concept,bert-large-cased,1,5,46.62,46.66,46.58,46.60
0,concept,ernie-base,1,0,44.27,43.86,44.25,44.31
1,concept,allenai/scibert_scivocab_cased,1,1,43.90,44.14,43.89,43.90
0,concept,bert-base-cased,1,0,43.68,43.58,43.68,43.65
0,concept,ft-cc,1,0,43.28,43.08,43.21,42.92
5,concept,ctp,1,5,40.15,39.97,40.15,40.15
1,concept,roberta-large,1,1,39.64,39.61,39.63,39.63
0,concept,roberta-base,1,0,38.78,38.53,38.64,38.60

Property 2 cls

,input,model,prop,layer,cls,cls_l1,cls_l2,cls_l3
6,concept,sentence-transformers/all-distilroberta-v1,2,6,88.77,59.65,87.50,85.63
12,concept,sentence-transformers/all-mpnet-base-v2,2,12,87.95,83.77,87.74,87.42
0,concept,ft-wiki,2,0,82.04,65.28,75.29,71.39
11,concept,bert-large-cased,2,11,79.49,57.10,78.33,76.08
12,concept,sentence-transformers/bert-base-nli-mean-tokens,2,12,75.66,63.82,75.49,75.33
2,concept,allenai/scibert_scivocab_cased,2,2,71.36,53.73,69.19,66.12
12,concept,bert-base-cased,2,12,69.72,54.10,66.67,62.95
4,concept,ernie-base,2,4,69.31,55.01,68.44,67.06
12,concept,roberta-base,2,12,68.85,53.61,56.33,55.11
0,concept,ft-cc,2,0,64.18,57.91,60.28,57.90
7,concept,ctp,2,7,61.61,50.09,58.59,57.11
24,concept,roberta-large,2,24,59.57,54.22,59.46,59.37

Property 2 avg

,input,model,prop,layer,avg_a,avg_l1,avg_l2,avg_l3
6,concept,sentence-transformers/all-distilroberta-v1,2,6,89.92,58.13,88.07,84.94
12,concept,sentence-transformers/all-mpnet-base-v2,2,12,88.98,84.41,88.47,87.97
0,concept,ft-wiki,2,0,82.04,65.28,75.29,71.39
1,concept,allenai/scibert_scivocab_cased,2,1,82.01,56.22,76.44,72.38
1,concept,bert-large-cased,2,1,81.49,57.02,76.78,73.20
1,concept,bert-base-cased,2,1,79.73,56.47,74.41,71.00
1,concept,ernie-base,2,1,78.17,56.04,74.10,70.36
1,concept,sentence-transformers/bert-base-nli-mean-tokens,2,1,78.13,58.55,74.69,71.45
23,concept,roberta-large,2,23,75.28,51.53,68.25,62.64
1,concept,ctp,2,1,74.39,51.25,69.00,64.38
12,concept,roberta-base,2,12,72.13,47.37,57.81,53.34
0,concept,ft-cc,2,0,64.18,57.91,60.28,57.90

Property 2 ecls

,input,model,prop,layer,ecls,ecls_l1,ecls_l2,ecls_l3
12,concept,sentence-transformers/all-mpnet-base-v2,2,12,87.66,87.53,87.63,87.66
6,concept,sentence-transformers/all-distilroberta-v1,2,6,85.40,85.35,85.40,85.41
11,concept,bert-large-cased,2,11,79.15,79.23,79.15,79.15
0,concept,ft-wiki,2,0,78.23,76.41,77.84,77.48
12,concept,sentence-transformers/bert-base-nli-mean-tokens,2,12,74.97,74.95,74.97,74.97
2,concept,allenai/scibert_scivocab_cased,2,2,71.43,71.26,71.39,71.35
12,concept,bert-base-cased,2,12,69.58,69.37,69.59,69.56
4,concept,ernie-base,2,4,69.35,69.25,69.33,69.32
12,concept,roberta-base,2,12,68.38,65.49,68.32,68.10
0,concept,ft-cc,2,0,63.36,59.27,60.90,59.62
7,concept,ctp,2,7,61.61,61.31,61.61,61.60
24,concept,roberta-large,2,24,59.57,59.58,59.57,59.57

Property 2 eavg

,input,model,prop,layer,eavg,eavg_l1,eavg_l2,eavg_l3
12,concept,sentence-transformers/all-mpnet-base-v2,2,12,88.63,88.47,88.59,88.58
6,concept,sentence-transformers/all-distilroberta-v1,2,6,86.15,86.15,86.15,86.14
0,concept,ft-wiki,2,0,78.23,76.41,77.84,77.48
1,concept,allenai/scibert_scivocab_cased,2,1,77.81,77.42,77.78,77.77
12,concept,sentence-transformers/bert-base-nli-mean-tokens,2,12,77.30,77.34,77.30,77.30
2,concept,bert-large-cased,2,2,77.25,76.92,77.26,77.28
1,concept,bert-base-cased,2,1,75.47,75.20,75.47,75.49
23,concept,roberta-large,2,23,75.14,74.95,75.12,75.09
1,concept,ernie-base,2,1,73.92,73.78,73.89,73.90
1,concept,ctp,2,1,73.73,73.55,73.76,73.73
11,concept,roberta-base,2,11,71.53,71.64,71.53,71.52
0,concept,ft-cc,2,0,63.36,59.27,60.90,59.62

Property 3 cls

,input,model,prop,layer,cls,cls_l1,cls_l2,cls_l3
6,concept,sentence-transformers/all-distilroberta-v1,3,6,89.48,58.98,87.99,85.57
12,concept,sentence-transformers/all-mpnet-base-v2,3,12,87.23,83.70,86.97,86.69
0,concept,ft-wiki,3,0,81.13,65.19,74.96,70.75
11,concept,bert-large-cased,3,11,77.40,56.84,76.42,75.25
12,concept,sentence-transformers/bert-base-nli-mean-tokens,3,12,75.68,65.19,75.48,75.28
4,concept,ernie-base,3,4,70.24,52.58,69.21,67.46
2,concept,allenai/scibert_scivocab_cased,3,2,69.43,52.94,66.64,63.49
4,concept,bert-base-cased,3,4,67.45,49.57,63.72,61.25
12,concept,roberta-base,3,12,67.36,56.65,59.25,57.94
0,concept,ft-cc,3,0,66.93,59.17,61.90,59.58
7,concept,ctp,3,7,61.61,51.29,59.03,57.19
24,concept,roberta-large,3,24,59.41,54.94,59.55,59.52

Property 3 avg

,input,model,prop,layer,avg_a,avg_l1,avg_l2,avg_l3
6,concept,sentence-transformers/all-distilroberta-v1,3,6,90.82,56.26,87.52,84.44
12,concept,sentence-transformers/all-mpnet-base-v2,3,12,87.44,83.66,86.94,86.35
0,concept,ft-wiki,3,0,81.13,65.19,74.96,70.75
1,concept,bert-large-cased,3,1,81.11,55.00,76.89,73.09
1,concept,allenai/scibert_scivocab_cased,3,1,79.87,51.64,73.80,69.81
1,concept,sentence-transformers/bert-base-nli-mean-tokens,3,1,78.53,57.36,74.98,72.06
1,concept,ernie-base,3,1,78.35,56.06,74.03,70.73
1,concept,bert-base-cased,3,1,78.29,54.88,73.34,69.70
1,concept,roberta-large,3,1,73.57,47.76,68.38,63.97
1,concept,ctp,3,1,73.55,47.88,68.29,64.08
12,concept,roberta-base,3,12,70.29,46.40,55.84,51.75
0,concept,ft-cc,3,0,66.93,59.17,61.90,59.58

Property 3 ecls

,input,model,prop,layer,ecls,ecls_l1,ecls_l2,ecls_l3
6,concept,sentence-transformers/all-distilroberta-v1,3,6,87.87,87.87,87.89,87.89
12,concept,sentence-transformers/all-mpnet-base-v2,3,12,86.37,86.34,86.34,86.37
0,concept,ft-wiki,3,0,77.18,75.28,76.60,76.30
11,concept,bert-large-cased,3,11,76.77,76.83,76.77,76.77
12,concept,sentence-transformers/bert-base-nli-mean-tokens,3,12,75.67,75.71,75.68,75.68
4,concept,ernie-base,3,4,70.22,70.15,70.22,70.22
2,concept,allenai/scibert_scivocab_cased,3,2,69.46,69.38,69.46,69.46
12,concept,roberta-base,3,12,67.63,66.91,67.63,67.59
4,concept,bert-base-cased,3,4,67.19,67.11,67.19,67.19
0,concept,ft-cc,3,0,64.44,60.30,62.11,60.46
7,concept,ctp,3,7,61.59,61.44,61.59,61.59
24,concept,roberta-large,3,24,59.43,59.43,59.43,59.43

Property 3 eavg

,input,model,prop,layer,eavg,eavg_l1,eavg_l2,eavg_l3
6,concept,sentence-transformers/all-distilroberta-v1,3,6,88.95,88.58,88.91,88.90
12,concept,sentence-transformers/all-mpnet-base-v2,3,12,86.92,86.77,86.92,86.91
0,concept,ft-wiki,3,0,77.18,75.28,76.60,76.30
1,concept,bert-large-cased,3,1,76.45,76.20,76.45,76.45
12,concept,sentence-transformers/bert-base-nli-mean-tokens,3,12,75.79,75.74,75.79,75.79
1,concept,allenai/scibert_scivocab_cased,3,1,74.49,74.15,74.49,74.50
2,concept,bert-base-cased,3,2,73.86,73.55,73.84,73.83
1,concept,ernie-base,3,1,73.60,73.29,73.55,73.57
23,concept,roberta-large,3,23,73.06,72.85,73.06,73.06
1,concept,ctp,3,1,72.85,72.60,72.83,72.80
11,concept,roberta-base,3,11,69.81,69.56,69.78,69.76
0,concept,ft-cc,3,0,64.44,60.30,62.11,60.46

Property 4 cls

,input,model,prop,layer,cls,cls_l1,cls_l2,cls_l3
14,concept,roberta-large,4,14,47.66,49.88,48.15,48.37
15,concept,ctp,4,15,46.06,52.13,49.96,51.11
10,concept,sentence-transformers/all-mpnet-base-v2,4,10,43.33,46.75,46.23,46.46
1,concept,sentence-transformers/all-distilroberta-v1,4,1,36.97,45.43,44.91,45.23
1,concept,ernie-base,4,1,36.79,41.33,37.71,38.76
4,concept,roberta-base,4,4,35.81,45.35,39.50,41.02
12,concept,sentence-transformers/bert-base-nli-mean-tokens,4,12,35.11,39.37,35.15,35.07
0,concept,ft-cc,4,0,34.70,40.92,39.14,41.03
5,concept,bert-large-cased,4,5,34.03,43.99,34.36,35.22
2,concept,bert-base-cased,4,2,33.98,44.67,35.11,37.42
10,concept,allenai/scibert_scivocab_cased,4,10,32.24,48.62,32.92,33.81
0,concept,ft-wiki,4,0,24.05,37.36,29.26,32.97

Property 4 avg

,input,model,prop,layer,avg_a,avg_l1,avg_l2,avg_l3
0,concept,ft-cc,4,0,34.70,40.92,39.14,41.03
6,concept,sentence-transformers/all-distilroberta-v1,4,6,33.77,38.37,30.61,30.86
12,concept,sentence-transformers/bert-base-nli-mean-tokens,4,12,31.90,37.26,31.78,31.65
12,concept,sentence-transformers/all-mpnet-base-v2,4,12,29.15,29.85,28.19,27.96
0,concept,bert-base-cased,4,0,27.62,38.10,29.55,31.24
12,concept,allenai/scibert_scivocab_cased,4,12,27.24,39.33,31.55,33.48
0,concept,roberta-large,4,0,27.14,38.50,29.67,32.04
0,concept,ctp,4,0,27.08,38.44,29.67,32.06
0,concept,bert-large-cased,4,0,27.07,37.10,29.32,30.97
0,concept,roberta-base,4,0,26.60,37.02,29.59,31.34
0,concept,ernie-base,4,0,26.09,36.09,27.98,29.37
0,concept,ft-wiki,4,0,24.05,37.36,29.26,32.97

Property 4 ecls

,input,model,prop,layer,ecls,ecls_l1,ecls_l2,ecls_l3
14,concept,roberta-large,4,14,47.70,47.71,47.70,47.69
15,concept,ctp,4,15,46.12,46.25,46.12,46.11
10,concept,sentence-transformers/all-mpnet-base-v2,4,10,43.52,45.73,44.46,45.05
1,concept,sentence-transformers/all-distilroberta-v1,4,1,37.26,39.76,37.18,37.27
1,concept,ernie-base,4,1,36.77,36.76,36.79,36.81
4,concept,roberta-base,4,4,35.90,36.11,35.90,35.90
11,concept,sentence-transformers/bert-base-nli-mean-tokens,4,11,35.65,35.61,35.65,35.62
0,concept,ft-cc,4,0,34.10,38.64,37.22,38.63
2,concept,bert-base-cased,4,2,34.07,33.90,34.06,34.08
5,concept,bert-large-cased,4,5,34.02,33.83,34.02,34.02
10,concept,allenai/scibert_scivocab_cased,4,10,32.29,32.25,32.29,32.29
0,concept,ft-wiki,4,0,23.65,26.23,24.47,25.05

Property 4 eavg

,input,model,prop,layer,eavg,eavg_l1,eavg_l2,eavg_l3
6,concept,sentence-transformers/all-distilroberta-v1,4,6,35.36,35.17,35.39,35.40
0,concept,ft-cc,4,0,34.10,38.64,37.22,38.63
12,concept,sentence-transformers/bert-base-nli-mean-tokens,4,12,30.96,30.99,30.96,30.96
12,concept,sentence-transformers/all-mpnet-base-v2,4,12,27.88,27.71,27.79,27.77
11,concept,allenai/scibert_scivocab_cased,4,11,25.35,25.62,25.33,25.35
0,concept,ctp,4,0,24.56,24.92,24.59,24.64
23,concept,roberta-large,4,23,24.55,24.72,24.55,24.54
0,concept,roberta-base,4,0,24.38,24.85,24.51,24.55
23,concept,bert-large-cased,4,23,24.07,24.56,24.07,24.05
8,concept,ernie-base,4,8,23.75,23.95,23.74,23.74
0,concept,ft-wiki,4,0,23.65,26.23,24.47,25.05
0,concept,bert-base-cased,4,0,23.28,23.78,23.31,23.34

Property 5 cls

,input,model,prop,layer,cls,cls_l1,cls_l2,cls_l3
12,concept,sentence-transformers/all-mpnet-base-v2,5,12,64.33,58.29,64.04,62.84
6,concept,sentence-transformers/all-distilroberta-v1,5,6,62.00,48.30,59.47,57.54
15,concept,roberta-large,5,15,52.17,52.82,52.73,52.83
11,concept,roberta-base,5,11,51.41,50.05,50.99,50.90
16,concept,ctp,5,16,50.95,49.58,51.15,51.02
12,concept,sentence-transformers/bert-base-nli-mean-tokens,5,12,50.38,47.13,50.30,50.14
10,concept,bert-base-cased,5,10,48.07,51.26,48.58,48.56
24,concept,bert-large-cased,5,24,47.73,50.88,48.31,48.34
12,concept,ernie-base,5,12,46.90,47.01,47.61,47.48
0,concept,ft-cc,5,0,46.74,46.97,46.67,46.91
0,concept,ft-wiki,5,0,45.92,46.40,45.61,46.05
2,concept,allenai/scibert_scivocab_cased,5,2,45.92,44.89,44.60,43.71

Property 5 avg

,input,model,prop,layer,avg_a,avg_l1,avg_l2,avg_l3
12,concept,sentence-transformers/all-mpnet-base-v2,5,12,61.88,58.06,61.73,61.56
6,concept,sentence-transformers/all-distilroberta-v1,5,6,61.24,45.20,56.97,54.51
12,concept,sentence-transformers/bert-base-nli-mean-tokens,5,12,49.91,44.17,49.41,49.04
0,concept,allenai/scibert_scivocab_cased,5,0,47.15,44.99,45.96,45.78
0,concept,ft-cc,5,0,46.74,46.97,46.67,46.91
0,concept,bert-large-cased,5,0,46.09,45.34,45.58,45.73
0,concept,ft-wiki,5,0,45.92,46.40,45.61,46.05
0,concept,bert-base-cased,5,0,45.65,45.65,45.18,45.34
0,concept,ernie-base,5,0,45.36,45.78,45.47,45.28
0,concept,roberta-base,5,0,42.49,45.11,44.19,44.70
0,concept,ctp,5,0,41.75,44.18,42.74,43.35
0,concept,roberta-large,5,0,41.75,44.14,42.75,43.38

Property 5 ecls

,input,model,prop,layer,ecls,ecls_l1,ecls_l2,ecls_l3
12,concept,sentence-transformers/all-mpnet-base-v2,5,12,64.05,63.80,64.06,64.08
6,concept,sentence-transformers/all-distilroberta-v1,5,6,60.64,60.46,60.63,60.63
15,concept,roberta-large,5,15,52.21,52.23,52.21,52.24
11,concept,roberta-base,5,11,51.41,51.48,51.40,51.40
16,concept,ctp,5,16,51.03,51.08,51.03,51.02
12,concept,sentence-transformers/bert-base-nli-mean-tokens,5,12,50.01,50.01,50.01,50.02
24,concept,bert-large-cased,5,24,48.04,47.98,48.01,48.00
0,concept,ft-cc,5,0,47.91,47.25,47.53,47.23
10,concept,bert-base-cased,5,10,47.91,47.87,47.91,47.91
12,concept,ernie-base,5,12,46.69,46.74,46.68,46.71
2,concept,allenai/scibert_scivocab_cased,5,2,45.96,45.65,45.97,45.99
0,concept,ft-wiki,5,0,43.97,44.22,43.93,43.96

Property 5 eavg

,input,model,prop,layer,eavg,eavg_l1,eavg_l2,eavg_l3
12,concept,sentence-transformers/all-mpnet-base-v2,5,12,59.30,59.66,59.30,59.41
6,concept,sentence-transformers/all-distilroberta-v1,5,6,58.82,58.68,58.82,58.82
12,concept,sentence-transformers/bert-base-nli-mean-tokens,5,12,48.43,48.40,48.43,48.42
0,concept,ft-cc,5,0,47.91,47.25,47.53,47.23
0,concept,ft-wiki,5,0,43.97,44.22,43.93,43.96
23,concept,bert-large-cased,5,23,43.25,43.42,43.21,43.24
0,concept,allenai/scibert_scivocab_cased,5,0,42.05,42.52,42.17,42.25
0,concept,ernie-base,5,0,40.82,41.16,40.83,40.87
0,concept,bert-base-cased,5,0,39.65,40.22,39.70,39.76
0,concept,roberta-base,5,0,39.25,40.17,39.42,39.50
23,concept,roberta-large,5,23,38.97,38.78,38.97,38.97
1,concept,ctp,5,1,38.91,38.92,38.90,38.90

Property 6 cls

,input,model,prop,layer,cls,cls_l1,cls_l2,cls_l3
12,concept,sentence-transformers/all-mpnet-base-v2,6,12,69.37,61.87,69.15,67.85
6,concept,sentence-transformers/all-distilroberta-v1,6,6,66.16,49.77,63.75,61.79
12,concept,sentence-transformers/bert-base-nli-mean-tokens,6,12,56.56,51.12,56.42,56.41
12,concept,roberta-base,6,12,55.43,49.23,50.00,49.48
23,concept,roberta-large,6,23,53.27,52.45,52.71,52.13
9,concept,ctp,6,9,52.59,49.39,52.50,52.19
0,concept,ft-wiki,6,0,51.01,44.82,48.33,46.60
12,concept,ernie-base,6,12,49.66,48.76,49.48,48.83
24,concept,bert-large-cased,6,24,49.37,49.54,48.54,48.08
0,concept,ft-cc,6,0,48.54,47.99,48.76,48.18
12,concept,bert-base-cased,6,12,48.54,51.69,48.68,49.91
2,concept,allenai/scibert_scivocab_cased,6,2,46.86,44.02,43.41,41.95

Property 6 avg

,input,model,prop,layer,avg_a,avg_l1,avg_l2,avg_l3
12,concept,sentence-transformers/all-mpnet-base-v2,6,12,69.30,65.35,69.27,68.80
6,concept,sentence-transformers/all-distilroberta-v1,6,6,68.17,46.24,62.50,59.71
12,concept,sentence-transformers/bert-base-nli-mean-tokens,6,12,56.69,48.47,56.09,55.49
0,concept,ft-wiki,6,0,51.01,44.82,48.33,46.60
0,concept,ernie-base,6,0,50.66,43.64,47.45,46.40
24,concept,bert-large-cased,6,24,50.48,46.38,49.03,48.10
0,concept,allenai/scibert_scivocab_cased,6,0,50.29,41.97,47.03,45.68
0,concept,ft-cc,6,0,48.54,47.99,48.76,48.18
0,concept,bert-base-cased,6,0,48.21,42.73,46.27,45.68
12,concept,roberta-base,6,12,46.70,34.56,36.74,35.80
1,concept,roberta-large,6,1,46.04,42.99,44.48,43.25
1,concept,ctp,6,1,46.00,43.87,44.63,43.27

Property 6 ecls

,input,model,prop,layer,ecls,ecls_l1,ecls_l2,ecls_l3
12,concept,sentence-transformers/all-mpnet-base-v2,6,12,68.86,69.01,68.94,68.91
6,concept,sentence-transformers/all-distilroberta-v1,6,6,62.57,62.70,62.59,62.60
12,concept,sentence-transformers/bert-base-nli-mean-tokens,6,12,55.67,55.69,55.67,55.69
12,concept,roberta-base,6,12,54.71,52.88,54.32,54.05
23,concept,roberta-large,6,23,53.28,53.25,53.30,53.30
9,concept,ctp,6,9,52.58,52.74,52.59,52.59
24,concept,bert-large-cased,6,24,49.79,49.75,49.79,49.77
12,concept,ernie-base,6,12,49.60,49.60,49.62,49.62
0,concept,ft-cc,6,0,48.64,48.53,49.05,48.70
12,concept,bert-base-cased,6,12,47.76,47.76,47.73,47.72
2,concept,allenai/scibert_scivocab_cased,6,2,46.80,46.58,46.80,46.81
0,concept,ft-wiki,6,0,46.66,45.78,46.52,46.55

Property 6 eavg

,input,model,prop,layer,eavg,eavg_l1,eavg_l2,eavg_l3
12,concept,sentence-transformers/all-mpnet-base-v2,6,12,67.31,67.34,67.39,67.37
6,concept,sentence-transformers/all-distilroberta-v1,6,6,62.27,62.28,62.30,62.30
12,concept,sentence-transformers/bert-base-nli-mean-tokens,6,12,55.27,55.20,55.27,55.27
0,concept,ft-cc,6,0,48.64,48.53,49.05,48.70
0,concept,ft-wiki,6,0,46.66,45.78,46.52,46.55
23,concept,bert-large-cased,6,23,45.95,46.04,45.97,45.98
11,concept,roberta-base,6,11,45.20,45.15,45.20,45.22
0,concept,ernie-base,6,0,44.77,44.89,44.85,44.88
23,concept,roberta-large,6,23,43.65,43.51,43.64,43.65
1,concept,ctp,6,1,43.47,43.44,43.47,43.45
0,concept,allenai/scibert_scivocab_cased,6,0,43.30,43.21,43.27,43.27
0,concept,bert-base-cased,6,0,41.35,41.57,41.32,41.32

Property 7 cls

,input,model,prop,layer,cls,cls_l1,cls_l2,cls_l3
11,concept,bert-large-cased,7,11,78.42,59.89,77.55,75.99
6,concept,sentence-transformers/all-distilroberta-v1,7,6,78.00,61.78,78.30,77.40
0,concept,ft-wiki,7,0,77.38,64.06,72.62,69.00
12,concept,sentence-transformers/all-mpnet-base-v2,7,12,75.98,72.05,75.73,75.22
4,concept,sentence-transformers/bert-base-nli-mean-tokens,7,4,75.46,58.50,74.55,73.21
4,concept,ernie-base,7,4,73.02,61.70,72.66,72.01
12,concept,bert-base-cased,7,12,72.79,55.60,69.71,66.75
2,concept,allenai/scibert_scivocab_cased,7,2,72.07,57.20,70.67,68.68
12,concept,roberta-base,7,12,72.03,55.14,58.80,56.98
1,concept,ctp,7,1,66.43,55.34,58.16,56.86
1,concept,roberta-large,7,1,66.38,55.27,58.42,57.01
0,concept,ft-cc,7,0,64.37,59.41,61.16,59.52

Property 7 avg

,input,model,prop,layer,avg_a,avg_l1,avg_l2,avg_l3
0,concept,sentence-transformers/all-mpnet-base-v2,7,0,80.16,66.98,76.91,73.72
1,concept,bert-large-cased,7,1,79.00,60.19,76.80,73.88
1,concept,allenai/scibert_scivocab_cased,7,1,77.78,59.60,74.75,71.93
6,concept,sentence-transformers/all-distilroberta-v1,7,6,77.75,59.15,77.05,74.78
1,concept,bert-base-cased,7,1,77.59,59.94,74.85,72.00
0,concept,ft-wiki,7,0,77.38,64.06,72.62,69.00
1,concept,roberta-large,7,1,76.93,56.41,74.20,70.96
2,concept,ctp,7,2,76.88,55.64,74.32,70.71
1,concept,ernie-base,7,1,76.80,60.29,74.86,72.61
1,concept,sentence-transformers/bert-base-nli-mean-tokens,7,1,76.64,60.80,75.23,73.03
12,concept,roberta-base,7,12,75.60,57.95,66.76,63.24
0,concept,ft-cc,7,0,64.37,59.41,61.16,59.52

Property 7 ecls

,input,model,prop,layer,ecls,ecls_l1,ecls_l2,ecls_l3
11,concept,bert-large-cased,7,11,78.48,78.41,78.47,78.47
12,concept,sentence-transformers/all-mpnet-base-v2,7,12,75.85,75.78,75.86,75.84
0,concept,ft-wiki,7,0,75.75,73.86,75.30,74.94
4,concept,sentence-transformers/bert-base-nli-mean-tokens,7,4,75.45,75.44,75.46,75.45
6,concept,sentence-transformers/all-distilroberta-v1,7,6,75.33,75.41,75.33,75.33
4,concept,ernie-base,7,4,73.00,72.99,73.01,73.00
12,concept,bert-base-cased,7,12,72.75,72.76,72.76,72.75
2,concept,allenai/scibert_scivocab_cased,7,2,72.01,72.10,72.02,72.03
12,concept,roberta-base,7,12,71.84,69.32,71.79,71.76
1,concept,ctp,7,1,66.43,65.99,66.45,66.41
1,concept,roberta-large,7,1,66.34,65.95,66.32,66.32
0,concept,ft-cc,7,0,63.73,60.80,61.95,60.97

Property 7 eavg

,input,model,prop,layer,eavg,eavg_l1,eavg_l2,eavg_l3
12,concept,sentence-transformers/all-mpnet-base-v2,7,12,79.75,79.74,79.76,79.75
1,concept,bert-large-cased,7,1,77.67,77.67,77.67,77.68
5,concept,sentence-transformers/all-distilroberta-v1,7,5,77.35,77.23,77.36,77.36
1,concept,roberta-large,7,1,77.24,77.15,77.24,77.23
1,concept,ctp,7,1,77.19,77.13,77.17,77.18
1,concept,allenai/scibert_scivocab_cased,7,1,76.47,76.30,76.46,76.45
1,concept,bert-base-cased,7,1,76.36,76.32,76.35,76.36
0,concept,ft-wiki,7,0,75.75,73.86,75.30,74.94
12,concept,roberta-base,7,12,75.64,74.89,75.62,75.61
1,concept,ernie-base,7,1,75.59,75.36,75.57,75.56
1,concept,sentence-transformers/bert-base-nli-mean-tokens,7,1,75.31,75.22,75.28,75.27
0,concept,ft-cc,7,0,63.73,60.80,61.95,60.97

Property 8 cls

,input,model,prop,layer,cls,cls_l1,cls_l2,cls_l3
12,concept,sentence-transformers/all-mpnet-base-v2,8,12,79.31,75.38,79.23,78.92
6,concept,sentence-transformers/all-distilroberta-v1,8,6,79.20,57.58,77.99,76.73
0,concept,ft-wiki,8,0,78.97,63.83,73.85,69.83
10,concept,bert-large-cased,8,10,76.65,60.22,75.21,72.48
4,concept,sentence-transformers/bert-base-nli-mean-tokens,8,4,75.32,59.00,74.68,73.46
12,concept,ernie-base,8,12,73.05,56.46,69.55,66.17
12,concept,roberta-base,8,12,71.57,55.23,58.18,56.69
12,concept,bert-base-cased,8,12,70.82,56.26,68.79,65.84
2,concept,allenai/scibert_scivocab_cased,8,2,69.49,52.72,67.46,65.12
5,concept,ctp,8,5,63.41,52.33,59.57,57.41
0,concept,ft-cc,8,0,63.35,57.28,59.04,57.37
24,concept,roberta-large,8,24,62.91,56.64,62.81,62.66

Property 8 avg

,input,model,prop,layer,avg_a,avg_l1,avg_l2,avg_l3
12,concept,sentence-transformers/all-mpnet-base-v2,8,12,81.42,77.64,81.39,80.90
1,concept,bert-large-cased,8,1,79.78,55.83,76.37,73.14
6,concept,sentence-transformers/all-distilroberta-v1,8,6,79.51,56.68,77.55,75.15
0,concept,ft-wiki,8,0,78.97,63.83,73.85,69.83
1,concept,allenai/scibert_scivocab_cased,8,1,78.75,54.61,74.89,71.15
1,concept,ernie-base,8,1,77.42,56.54,74.06,70.74
1,concept,bert-base-cased,8,1,76.89,56.08,73.20,70.01
1,concept,sentence-transformers/bert-base-nli-mean-tokens,8,1,76.56,57.14,74.04,71.10
1,concept,roberta-large,8,1,75.87,53.66,72.75,69.03
1,concept,ctp,8,1,75.80,53.88,73.04,69.12
12,concept,roberta-base,8,12,73.97,53.40,62.61,58.93
0,concept,ft-cc,8,0,63.35,57.28,59.04,57.37

Property 8 ecls

,input,model,prop,layer,ecls,ecls_l1,ecls_l2,ecls_l3
12,concept,sentence-transformers/all-mpnet-base-v2,8,12,78.31,78.27,78.30,78.29
10,concept,bert-large-cased,8,10,76.60,76.72,76.60,76.59
6,concept,sentence-transformers/all-distilroberta-v1,8,6,76.41,76.52,76.41,76.42
0,concept,ft-wiki,8,0,75.67,73.89,75.33,75.03
4,concept,sentence-transformers/bert-base-nli-mean-tokens,8,4,75.26,75.28,75.26,75.26
12,concept,ernie-base,8,12,73.13,73.00,73.15,73.16
12,concept,roberta-base,8,12,71.18,68.31,71.12,71.08
12,concept,bert-base-cased,8,12,70.88,70.85,70.87,70.87
2,concept,allenai/scibert_scivocab_cased,8,2,69.43,69.32,69.42,69.44
5,concept,ctp,8,5,63.42,63.27,63.42,63.42
24,concept,roberta-large,8,24,62.92,62.91,62.92,62.92
0,concept,ft-cc,8,0,61.88,58.44,59.83,58.61

Property 8 eavg

,input,model,prop,layer,eavg,eavg_l1,eavg_l2,eavg_l3
12,concept,sentence-transformers/all-mpnet-base-v2,8,12,80.58,80.66,80.59,80.60
2,concept,bert-large-cased,8,2,77.44,77.25,77.43,77.42
5,concept,sentence-transformers/all-distilroberta-v1,8,5,76.69,76.45,76.68,76.68
1,concept,ctp,8,1,75.97,75.82,75.98,75.97
1,concept,roberta-large,8,1,75.92,75.83,75.91,75.90
0,concept,ft-wiki,8,0,75.67,73.89,75.33,75.03
1,concept,allenai/scibert_scivocab_cased,8,1,75.17,75.01,75.17,75.16
12,concept,ernie-base,8,12,74.97,74.82,74.95,74.96
1,concept,bert-base-cased,8,1,74.43,74.28,74.43,74.43
2,concept,sentence-transformers/bert-base-nli-mean-tokens,8,2,74.37,74.12,74.37,74.37
11,concept,roberta-base,8,11,73.36,73.28,73.36,73.36
0,concept,ft-cc,8,0,61.88,58.44,59.83,58.61

In [29]:
for p in range(9):
    #for method in _methods:
    print("Property",p)
    display(get_last_by_prop(_lastlayers,p)[['input','model','prop','layer',*orderedmethod]])

Property 0

,input,model,prop,layer,cls,cls_l1,cls_l2,cls_l3,avg_a,avg_l1,avg_l2,avg_l3,ecls,ecls_l1,ecls_l2,ecls_l3,eavg,eavg_l1,eavg_l2,eavg_l3
12,concept,allenai/scibert_scivocab_cased,0,12,65.09,55.75,65.02,64.18,67.46,56.86,64.39,62.72,65.16,65.09,65.16,65.16,68.99,68.78,68.99,68.99
12,concept,bert-base-cased,0,12,72.61,54.70,67.60,64.74,76.03,59.37,74.29,70.87,72.40,71.85,72.40,72.54,75.68,75.68,75.68,75.68
24,concept,bert-large-cased,0,24,68.15,51.99,66.20,62.72,78.89,57.00,77.14,76.17,68.71,68.50,68.71,68.71,77.98,78.05,77.91,77.91
24,concept,ctp,0,24,60.07,58.05,60.14,60.07,60.07,57.98,60.42,60.49,60.07,60.07,60.07,60.07,60.70,60.70,60.70,60.77
12,concept,ernie-base,0,12,68.99,54.91,65.30,61.67,78.05,56.86,74.43,70.31,69.20,68.78,69.06,69.06,77.77,77.63,77.77,77.77
0,concept,ft-cc,0,0,63.34,56.79,58.68,56.24,63.34,56.79,58.68,56.24,60.35,58.82,59.51,58.75,60.35,58.82,59.51,58.75
0,concept,ft-wiki,0,0,79.65,64.95,73.17,69.62,79.65,64.95,73.17,69.62,77.00,75.33,76.66,76.31,77.00,75.33,76.66,76.31
12,concept,roberta-base,0,12,65.99,53.94,56.38,54.91,76.38,60.56,69.13,65.23,66.27,64.60,66.13,66.20,76.59,75.82,76.52,76.59
24,concept,roberta-large,0,24,58.54,55.26,58.12,58.05,75.05,47.74,61.46,55.05,58.54,58.54,58.54,58.54,74.84,74.43,74.84,74.84
6,concept,sentence-transformers/all-distilroberta-v1,0,6,83.14,57.49,80.98,79.37,85.16,57.14,83.28,80.07,79.09,79.23,79.09,79.09,80.63,80.49,80.63,80.70
12,concept,sentence-transformers/all-mpnet-base-v2,0,12,83.21,79.72,83.00,82.86,85.64,79.16,84.88,84.53,83.14,83.21,83.21,83.28,85.64,85.44,85.57,85.85
12,concept,sentence-transformers/bert-base-nli-mean-tokens,0,12,76.45,64.67,75.54,75.05,76.52,63.00,76.45,76.52,76.59,76.66,76.59,76.59,77.28,77.21,77.28,77.28

Property 1

,input,model,prop,layer,cls,cls_l1,cls_l2,cls_l3,avg_a,avg_l1,avg_l2,avg_l3,ecls,ecls_l1,ecls_l2,ecls_l3,eavg,eavg_l1,eavg_l2,eavg_l3
12,concept,allenai/scibert_scivocab_cased,1,12,38.80,42.94,38.80,38.84,40.43,44.89,40.89,40.90,38.77,38.80,38.78,38.78,40.09,40.15,40.08,40.10
12,concept,bert-base-cased,1,12,42.86,48.54,45.26,45.83,38.18,43.82,37.63,38.47,42.79,42.87,42.80,42.80,36.51,36.55,36.48,36.52
24,concept,bert-large-cased,1,24,44.16,46.85,44.96,45.22,41.54,44.62,40.96,41.59,44.48,44.38,44.48,44.48,38.50,38.27,38.47,38.46
24,concept,ctp,1,24,22.88,23.34,22.93,22.92,22.34,21.91,21.90,21.48,22.92,22.92,22.92,22.92,22.64,22.66,22.64,22.64
12,concept,ernie-base,1,12,37.16,39.84,37.28,37.71,43.00,40.45,41.84,41.20,37.16,36.84,37.12,37.12,42.40,42.30,42.40,42.33
0,concept,ft-cc,1,0,42.91,43.01,42.48,42.60,42.91,43.01,42.48,42.60,43.28,43.08,43.21,42.92,43.28,43.08,43.21,42.92
0,concept,ft-wiki,1,0,49.93,48.98,48.88,48.67,49.93,48.98,48.88,48.67,49.52,49.39,49.36,49.41,49.52,49.39,49.36,49.41
12,concept,roberta-base,1,12,39.07,51.65,49.40,50.29,38.38,42.33,38.78,40.42,39.45,41.93,39.61,39.80,35.78,35.65,35.79,35.81
24,concept,roberta-large,1,24,40.94,44.72,40.94,41.09,37.09,40.13,38.22,38.65,40.95,40.96,40.95,40.95,37.26,37.22,37.28,37.27
6,concept,sentence-transformers/all-distilroberta-v1,1,6,68.62,48.02,66.45,63.40,68.18,44.05,63.01,58.71,65.90,65.81,65.92,65.92,69.54,68.79,69.48,69.43
12,concept,sentence-transformers/all-mpnet-base-v2,1,12,72.04,67.71,71.57,71.00,69.27,62.56,68.19,67.16,71.22,71.02,71.14,71.12,69.72,69.44,69.69,69.68
12,concept,sentence-transformers/bert-base-nli-mean-tokens,1,12,52.18,50.50,52.29,52.01,51.89,46.44,51.50,51.23,52.15,52.13,52.15,52.15,51.32,51.19,51.32,51.32

Property 2

,input,model,prop,layer,cls,cls_l1,cls_l2,cls_l3,avg_a,avg_l1,avg_l2,avg_l3,ecls,ecls_l1,ecls_l2,ecls_l3,eavg,eavg_l1,eavg_l2,eavg_l3
12,concept,allenai/scibert_scivocab_cased,2,12,62.58,52.88,62.71,62.17,65.84,51.86,62.03,59.57,62.55,62.55,62.55,62.55,64.66,64.50,64.67,64.67
12,concept,bert-base-cased,2,12,69.72,54.10,66.67,62.95,72.75,52.71,68.54,65.02,69.58,69.37,69.59,69.56,70.91,70.55,70.91,70.88
24,concept,bert-large-cased,2,24,64.32,52.44,62.96,60.87,77.66,53.89,75.17,71.99,64.32,64.41,64.32,64.32,75.37,75.26,75.37,75.38
24,concept,ctp,2,24,40.43,39.96,40.40,40.42,40.66,39.80,40.36,40.17,40.44,40.44,40.44,40.44,40.83,40.81,40.83,40.83
12,concept,ernie-base,2,12,67.29,50.38,63.12,59.16,74.43,52.11,69.81,66.12,67.27,67.01,67.23,67.18,72.44,72.01,72.43,72.37
0,concept,ft-cc,2,0,64.18,57.91,60.28,57.90,64.18,57.91,60.28,57.90,63.36,59.27,60.90,59.62,63.36,59.27,60.90,59.62
0,concept,ft-wiki,2,0,82.04,65.28,75.29,71.39,82.04,65.28,75.29,71.39,78.23,76.41,77.84,77.48,78.23,76.41,77.84,77.48
12,concept,roberta-base,2,12,68.85,53.61,56.33,55.11,72.13,47.37,57.81,53.34,68.38,65.49,68.32,68.10,69.36,67.81,69.37,69.27
24,concept,roberta-large,2,24,59.57,54.22,59.46,59.37,72.44,50.57,60.91,56.87,59.57,59.58,59.57,59.57,72.19,71.72,72.14,72.15
6,concept,sentence-transformers/all-distilroberta-v1,2,6,88.77,59.65,87.50,85.63,89.92,58.13,88.07,84.94,85.40,85.35,85.40,85.41,86.15,86.15,86.15,86.14
12,concept,sentence-transformers/all-mpnet-base-v2,2,12,87.95,83.77,87.74,87.42,88.98,84.41,88.47,87.97,87.66,87.53,87.63,87.66,88.63,88.47,88.59,88.58
12,concept,sentence-transformers/bert-base-nli-mean-tokens,2,12,75.66,63.82,75.49,75.33,77.63,63.91,77.38,77.05,74.97,74.95,74.97,74.97,77.30,77.34,77.30,77.30

Property 3

,input,model,prop,layer,cls,cls_l1,cls_l2,cls_l3,avg_a,avg_l1,avg_l2,avg_l3,ecls,ecls_l1,ecls_l2,ecls_l3,eavg,eavg_l1,eavg_l2,eavg_l3
12,concept,allenai/scibert_scivocab_cased,3,12,60.84,51.63,60.70,60.66,64.12,49.86,60.55,58.48,60.73,60.64,60.73,60.73,62.04,61.96,62.04,62.05
12,concept,bert-base-cased,3,12,67.03,53.82,64.63,61.48,70.41,52.91,66.96,64.44,66.85,66.90,66.85,66.85,68.54,68.12,68.54,68.55
24,concept,bert-large-cased,3,24,64.11,53.97,63.28,61.87,77.40,56.30,75.24,72.68,64.21,64.26,64.23,64.23,75.05,74.99,75.05,75.05
24,concept,ctp,3,24,31.39,31.23,31.36,31.32,31.65,31.16,31.37,31.25,31.39,31.39,31.39,31.39,31.94,31.89,31.94,31.94
12,concept,ernie-base,3,12,67.22,50.75,63.91,60.96,74.61,51.78,70.87,66.91,67.28,66.94,67.30,67.28,73.34,73.06,73.35,73.35
0,concept,ft-cc,3,0,66.93,59.17,61.90,59.58,66.93,59.17,61.90,59.58,64.44,60.30,62.11,60.46,64.44,60.30,62.11,60.46
0,concept,ft-wiki,3,0,81.13,65.19,74.96,70.75,81.13,65.19,74.96,70.75,77.18,75.28,76.60,76.30,77.18,75.28,76.60,76.30
12,concept,roberta-base,3,12,67.36,56.65,59.25,57.94,70.29,46.40,55.84,51.75,67.63,66.91,67.63,67.59,65.76,63.71,65.70,65.61
24,concept,roberta-large,3,24,59.41,54.94,59.55,59.52,70.25,47.76,60.07,55.38,59.43,59.43,59.43,59.43,70.16,69.95,70.15,70.13
6,concept,sentence-transformers/all-distilroberta-v1,3,6,89.48,58.98,87.99,85.57,90.82,56.26,87.52,84.44,87.87,87.87,87.89,87.89,88.95,88.58,88.91,88.90
12,concept,sentence-transformers/all-mpnet-base-v2,3,12,87.23,83.70,86.97,86.69,87.44,83.66,86.94,86.35,86.37,86.34,86.34,86.37,86.92,86.77,86.92,86.91
12,concept,sentence-transformers/bert-base-nli-mean-tokens,3,12,75.68,65.19,75.48,75.28,76.39,64.31,76.19,76.25,75.67,75.71,75.68,75.68,75.79,75.74,75.79,75.79

Property 4

,input,model,prop,layer,cls,cls_l1,cls_l2,cls_l3,avg_a,avg_l1,avg_l2,avg_l3,ecls,ecls_l1,ecls_l2,ecls_l3,eavg,eavg_l1,eavg_l2,eavg_l3
12,concept,allenai/scibert_scivocab_cased,4,12,30.16,39.63,30.41,30.79,27.24,39.33,31.55,33.48,30.16,30.20,30.16,30.15,25.10,25.15,25.10,25.08
12,concept,bert-base-cased,4,12,28.52,45.26,31.80,34.79,22.20,34.29,22.80,24.60,28.18,28.31,28.21,28.21,20.23,20.49,20.24,20.31
24,concept,bert-large-cased,4,24,32.04,47.21,33.18,34.93,24.17,41.17,25.08,26.60,32.02,32.01,32.02,32.02,22.33,22.36,22.34,22.34
24,concept,ctp,4,24,24.26,24.82,24.29,24.34,23.71,25.48,23.77,23.62,24.28,24.28,24.28,24.28,23.82,23.81,23.82,23.82
12,concept,ernie-base,4,12,29.28,42.94,31.85,34.49,22.96,38.80,24.98,27.27,29.03,28.87,29.09,29.08,21.98,21.96,22.02,22.00
0,concept,ft-cc,4,0,34.70,40.92,39.14,41.03,34.70,40.92,39.14,41.03,34.10,38.64,37.22,38.63,34.10,38.64,37.22,38.63
0,concept,ft-wiki,4,0,24.05,37.36,29.26,32.97,24.05,37.36,29.26,32.97,23.65,26.23,24.47,25.05,23.65,26.23,24.47,25.05
12,concept,roberta-base,4,12,30.35,43.04,41.39,42.43,20.21,31.17,24.85,27.23,30.22,32.96,30.32,30.43,17.45,17.65,17.42,17.45
24,concept,roberta-large,4,24,38.60,40.82,38.81,38.94,23.11,45.04,32.40,37.49,38.63,38.60,38.63,38.63,23.18,23.26,23.18,23.18
6,concept,sentence-transformers/all-distilroberta-v1,4,6,33.77,44.45,33.91,34.59,33.77,38.37,30.61,30.86,36.38,36.39,36.41,36.42,35.36,35.17,35.39,35.40
12,concept,sentence-transformers/all-mpnet-base-v2,4,12,35.44,36.94,35.66,35.74,29.15,29.85,28.19,27.96,35.15,35.21,35.17,35.07,27.88,27.71,27.79,27.77
12,concept,sentence-transformers/bert-base-nli-mean-tokens,4,12,35.11,39.37,35.15,35.07,31.90,37.26,31.78,31.65,35.15,35.13,35.15,35.15,30.96,30.99,30.96,30.96

Property 5

,input,model,prop,layer,cls,cls_l1,cls_l2,cls_l3,avg_a,avg_l1,avg_l2,avg_l3,ecls,ecls_l1,ecls_l2,ecls_l3,eavg,eavg_l1,eavg_l2,eavg_l3
12,concept,allenai/scibert_scivocab_cased,5,12,45.81,46.68,45.11,45.15,43.04,46.92,43.78,44.71,45.78,45.82,45.78,45.78,41.03,41.12,41.06,41.05
12,concept,bert-base-cased,5,12,47.41,50.33,47.89,48.76,41.74,43.01,40.70,41.28,47.24,47.36,47.26,47.27,39.33,39.33,39.34,39.32
24,concept,bert-large-cased,5,24,47.73,50.88,48.31,48.34,45.74,45.33,44.31,43.50,48.04,47.98,48.01,48.00,42.96,43.03,42.97,43.02
24,concept,ctp,5,24,24.55,25.40,24.53,24.54,24.10,23.59,23.96,23.75,24.59,24.60,24.59,24.59,24.24,24.22,24.24,24.25
12,concept,ernie-base,5,12,46.90,47.01,47.61,47.48,42.26,44.62,41.58,42.26,46.69,46.74,46.68,46.71,39.93,39.63,39.93,39.86
0,concept,ft-cc,5,0,46.74,46.97,46.67,46.91,46.74,46.97,46.67,46.91,47.91,47.25,47.53,47.23,47.91,47.25,47.53,47.23
0,concept,ft-wiki,5,0,45.92,46.40,45.61,46.05,45.92,46.40,45.61,46.05,43.97,44.22,43.93,43.96,43.97,44.22,43.93,43.96
12,concept,roberta-base,5,12,50.74,49.05,48.56,48.54,41.25,38.67,37.12,37.86,50.43,49.08,50.40,50.33,36.14,35.60,36.18,36.12
24,concept,roberta-large,5,24,48.02,47.08,47.94,47.85,35.97,49.87,43.56,45.97,48.04,48.04,48.04,48.04,36.09,36.37,36.09,36.06
6,concept,sentence-transformers/all-distilroberta-v1,5,6,62.00,48.30,59.47,57.54,61.24,45.20,56.97,54.51,60.64,60.46,60.63,60.63,58.82,58.68,58.82,58.82
12,concept,sentence-transformers/all-mpnet-base-v2,5,12,64.33,58.29,64.04,62.84,61.88,58.06,61.73,61.56,64.05,63.80,64.06,64.08,59.30,59.66,59.30,59.41
12,concept,sentence-transformers/bert-base-nli-mean-tokens,5,12,50.38,47.13,50.30,50.14,49.91,44.17,49.41,49.04,50.01,50.01,50.01,50.02,48.43,48.40,48.43,48.42

Property 6

,input,model,prop,layer,cls,cls_l1,cls_l2,cls_l3,avg_a,avg_l1,avg_l2,avg_l3,ecls,ecls_l1,ecls_l2,ecls_l3,eavg,eavg_l1,eavg_l2,eavg_l3
12,concept,allenai/scibert_scivocab_cased,6,12,45.72,45.48,45.52,45.54,41.70,44.42,43.81,43.88,45.74,45.65,45.74,45.74,39.68,39.85,39.67,39.65
12,concept,bert-base-cased,6,12,48.54,51.69,48.68,49.91,44.19,41.52,41.95,42.20,47.76,47.76,47.73,47.72,41.03,40.72,41.05,41.06
24,concept,bert-large-cased,6,24,49.37,49.54,48.54,48.08,50.48,46.38,49.03,48.10,49.79,49.75,49.79,49.77,45.86,45.66,45.91,45.91
24,concept,ctp,6,24,21.79,21.82,21.77,21.85,21.34,21.51,21.30,21.28,21.79,21.79,21.79,21.79,21.48,21.48,21.48,21.48
12,concept,ernie-base,6,12,49.66,48.76,49.48,48.83,47.38,43.67,45.28,44.89,49.60,49.60,49.62,49.62,44.33,43.96,44.25,44.25
0,concept,ft-cc,6,0,48.54,47.99,48.76,48.18,48.54,47.99,48.76,48.18,48.64,48.53,49.05,48.70,48.64,48.53,49.05,48.70
0,concept,ft-wiki,6,0,51.01,44.82,48.33,46.60,51.01,44.82,48.33,46.60,46.66,45.78,46.52,46.55,46.66,45.78,46.52,46.55
12,concept,roberta-base,6,12,55.43,49.23,50.00,49.48,46.70,34.56,36.74,35.80,54.71,52.88,54.32,54.05,39.70,38.72,39.62,39.56
24,concept,roberta-large,6,24,50.48,48.22,50.26,50.08,37.78,45.95,41.57,43.47,50.52,50.51,50.52,50.52,37.78,38.01,37.73,37.72
6,concept,sentence-transformers/all-distilroberta-v1,6,6,66.16,49.77,63.75,61.79,68.17,46.24,62.50,59.71,62.57,62.70,62.59,62.60,62.27,62.28,62.30,62.30
12,concept,sentence-transformers/all-mpnet-base-v2,6,12,69.37,61.87,69.15,67.85,69.30,65.35,69.27,68.80,68.86,69.01,68.94,68.91,67.31,67.34,67.39,67.37
12,concept,sentence-transformers/bert-base-nli-mean-tokens,6,12,56.56,51.12,56.42,56.41,56.69,48.47,56.09,55.49,55.67,55.69,55.67,55.69,55.27,55.20,55.27,55.27

Property 7

,input,model,prop,layer,cls,cls_l1,cls_l2,cls_l3,avg_a,avg_l1,avg_l2,avg_l3,ecls,ecls_l1,ecls_l2,ecls_l3,eavg,eavg_l1,eavg_l2,eavg_l3
12,concept,allenai/scibert_scivocab_cased,7,12,68.82,57.28,68.42,67.97,68.70,55.96,66.11,64.09,68.77,68.74,68.77,68.77,68.60,68.51,68.60,68.59
12,concept,bert-base-cased,7,12,72.79,55.60,69.71,66.75,75.73,59.85,74.27,72.06,72.75,72.76,72.76,72.75,75.68,75.60,75.67,75.66
24,concept,bert-large-cased,7,24,68.13,54.50,66.60,64.94,76.12,58.00,75.37,73.74,68.21,68.15,68.21,68.21,76.61,76.60,76.61,76.61
24,concept,ctp,7,24,63.90,62.94,63.88,63.88,65.05,63.23,65.08,65.15,63.88,63.88,63.88,63.88,64.95,64.96,64.95,64.95
12,concept,ernie-base,7,12,72.21,55.32,68.50,65.00,75.52,58.58,73.44,71.08,72.26,72.12,72.26,72.25,74.93,74.65,74.93,74.92
0,concept,ft-cc,7,0,64.37,59.41,61.16,59.52,64.37,59.41,61.16,59.52,63.73,60.80,61.95,60.97,63.73,60.80,61.95,60.97
0,concept,ft-wiki,7,0,77.38,64.06,72.62,69.00,77.38,64.06,72.62,69.00,75.75,73.86,75.30,74.94,75.75,73.86,75.30,74.94
12,concept,roberta-base,7,12,72.03,55.14,58.80,56.98,75.60,57.95,66.76,63.24,71.84,69.32,71.79,71.76,75.64,74.89,75.62,75.61
24,concept,roberta-large,7,24,63.97,57.19,63.88,63.75,75.27,54.86,66.24,61.80,63.98,63.97,63.98,63.98,75.26,75.02,75.25,75.25
6,concept,sentence-transformers/all-distilroberta-v1,7,6,78.00,61.78,78.30,77.40,77.75,59.15,77.05,74.78,75.33,75.41,75.33,75.33,72.96,73.07,72.96,72.95
12,concept,sentence-transformers/all-mpnet-base-v2,7,12,75.98,72.05,75.73,75.22,80.03,76.37,80.11,79.74,75.85,75.78,75.86,75.84,79.75,79.74,79.76,79.75
12,concept,sentence-transformers/bert-base-nli-mean-tokens,7,12,66.70,61.70,66.88,66.86,69.27,62.59,69.32,69.33,66.45,66.49,66.45,66.45,69.42,69.42,69.43,69.43

Property 8

,input,model,prop,layer,cls,cls_l1,cls_l2,cls_l3,avg_a,avg_l1,avg_l2,avg_l3,ecls,ecls_l1,ecls_l2,ecls_l3,eavg,eavg_l1,eavg_l2,eavg_l3
12,concept,allenai/scibert_scivocab_cased,8,12,66.21,57.28,66.00,65.60,66.38,54.18,63.73,61.98,66.17,66.18,66.17,66.17,65.49,65.36,65.49,65.48
12,concept,bert-base-cased,8,12,70.82,56.26,68.79,65.84,73.56,56.18,70.94,68.54,70.88,70.85,70.87,70.87,73.05,72.82,73.05,73.05
24,concept,bert-large-cased,8,24,67.09,54.11,65.03,63.34,75.92,55.52,74.21,71.74,67.08,66.99,67.08,67.07,75.51,75.40,75.52,75.50
24,concept,ctp,8,24,56.03,55.27,55.98,55.98,57.05,54.70,56.90,56.84,56.03,56.01,56.03,56.03,57.05,57.05,57.05,57.05
12,concept,ernie-base,8,12,73.05,56.46,69.55,66.17,75.68,56.44,73.01,70.09,73.13,73.00,73.15,73.16,74.97,74.82,74.95,74.96
0,concept,ft-cc,8,0,63.35,57.28,59.04,57.37,63.35,57.28,59.04,57.37,61.88,58.44,59.83,58.61,61.88,58.44,59.83,58.61
0,concept,ft-wiki,8,0,78.97,63.83,73.85,69.83,78.97,63.83,73.85,69.83,75.67,73.89,75.33,75.03,75.67,73.89,75.33,75.03
12,concept,roberta-base,8,12,71.57,55.23,58.18,56.69,73.97,53.40,62.61,58.93,71.18,68.31,71.12,71.08,72.81,71.67,72.80,72.73
24,concept,roberta-large,8,24,62.91,56.64,62.81,62.66,73.17,54.12,65.60,61.13,62.92,62.91,62.92,62.92,73.29,73.25,73.28,73.29
6,concept,sentence-transformers/all-distilroberta-v1,8,6,79.20,57.58,77.99,76.73,79.51,56.68,77.55,75.15,76.41,76.52,76.41,76.42,73.91,73.78,73.92,73.91
12,concept,sentence-transformers/all-mpnet-base-v2,8,12,79.31,75.38,79.23,78.92,81.42,77.64,81.39,80.90,78.31,78.27,78.30,78.29,80.58,80.66,80.59,80.60
12,concept,sentence-transformers/bert-base-nli-mean-tokens,8,12,69.90,62.90,69.92,69.94,71.48,62.19,71.46,71.34,70.04,70.06,70.04,70.04,71.31,71.28,71.31,71.31

In [11]:
# table to show in Latex: We study only property 1 because similar trends in others\
# Also main works focus on hypernym, so we study representations on property 1 that fit best to this type of evaluation, to be fair with enhanced models
# We use the concept input (w/ definitions) because they are contextualized models
# We evalaute cosinus distance, since euclidean gives similar trends, and it's a lot of space
cur_df = get_last_by_prop(_lastlayers,0)[['model',*orderedmethod[:-8]]]
for m in orderedmethod[:-8]:
    cur_df[m]=cur_df[m].round(decimals=1)
cur_df['model'] = ['Scibert','BERT','BERT-L','CTP','ERNIE','FT-cc','FT-wiki','RoBERTa','RoBERTa-L','DistilRoB','MPNet','S-BERT']
cur_df = cur_df.set_index('model')
cur_df = cur_df.transpose()[['BERT','BERT-L','RoBERTa','RoBERTa-L','S-BERT','DistilRoB','MPNet','ERNIE','CTP']]
#cur_df = cur_df.transpose()[]
print(cur_df.to_latex(index=True))

\begin{tabular}{lrrrrrrrrr}
\toprule
model &  BERT &  BERT-L &  RoBERTa &  RoBERTa-L &  S-BERT &  DistilRoB &  MPNet &  ERNIE &   CTP \\
\midrule
cls    &  72.6 &    68.2 &     66.0 &       58.5 &    76.4 &       83.1 &   83.2 &   69.0 &  60.1 \\
cls\_l1 &  54.7 &    52.0 &     53.9 &       55.3 &    64.7 &       57.5 &   79.7 &   54.9 &  58.0 \\
cls\_l2 &  67.6 &    66.2 &     56.4 &       58.1 &    75.5 &       81.0 &   83.0 &   65.3 &  60.1 \\
cls\_l3 &  64.7 &    62.7 &     54.9 &       58.0 &    75.0 &       79.4 &   82.9 &   61.7 &  60.1 \\
avg\_a  &  76.0 &    78.9 &     76.4 &       75.0 &    76.5 &       85.2 &   85.6 &   78.0 &  60.1 \\
avg\_l1 &  59.4 &    57.0 &     60.6 &       47.7 &    63.0 &       57.1 &   79.2 &   56.9 &  58.0 \\
avg\_l2 &  74.3 &    77.1 &     69.1 &       61.5 &    76.4 &       83.3 &   84.9 &   74.4 &  60.4 \\
avg\_l3 &  70.9 &    76.2 &     65.2 &       55.0 &    76.5 &       80.1 &   84.5 &   70.3 &  60.5 \\
\bottomrule
\end{tabular}

<ipython-input-11-5793a97b90ac>:12: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(cur_df.to_latex(index=True))

In [ ]:
# Table in Latex to summarize the score on each property of the models
# We chose concept input, avg method, cosinus distances without LEAR, last layer
for p in range(9):
    #for method in _methods:
    print("Property",p)
    display(get_last_by_prop(_lastlayers,p)[['input','model','prop','layer',*orderedmethod]])

In [19]:
(ds_sizes[0]*sum_df['p1']+ds_sizes[1]*sum_df['p2'])/(ds_sizes[0]+ds_sizes[1])

0     46.119400
1     54.602848
2     44.165358
3     47.402232
4     44.396921
5     43.081139
6     71.872363
7     44.676751
8     28.265358
9     48.523480
10    55.782217
11    70.882833
dtype: float64

In [26]:
# Table in Latex to summarize the score on each property of the models
# We chose concept input, avg method, cosinus distances without LEAR, last layer/
# Table in paper
summary_table = []
for model in _models:
    row = [model]
    minidf = _lastlayers[_lastlayers['model']==model]
    for prop in range(9):
        score = minidf[minidf['prop']==prop]['avg_a']
        row.append(round(float(score),1))
    summary_table.append(row)
#_lastlayers[['input','model','prop','layer','cls']]
sum_df = pd.DataFrame(summary_table, columns=['model','p1','p2','p3','p4','p5','p6','p7','p8','p9'])
sum_df['model'] = ['FT-cc','FT-wiki','BERT','BERT-L','RoBERTa','RoBERTa-L','MPNet','Scibert','CTP','ERNIE','S-BERT','DistilRoB']
# sum_df['P'] = np.round( (ds_sizes[0]*sum_df['p1']+ds_sizes[1]*sum_df['p2']+ds_sizes[2]*sum_df['p3']+ds_sizes[3]*sum_df['p4'])/(ds_sizes[0]+ds_sizes[1]+ds_sizes[2]+ds_sizes[3]),1)
# sum_df['A'] = np.round( (ds_sizes[4]*sum_df['p5']+ds_sizes[5]*sum_df['p6']+ds_sizes[6]*sum_df['p7'])/(ds_sizes[4]+ds_sizes[5]+ds_sizes[6]),1)
# sum_df['S'] =np.round( (ds_sizes[7]*sum_df['p8']+ds_sizes[8]*sum_df['p9'])/(ds_sizes[7]+ds_sizes[8]),1)
sum_df['P'] = np.round( (sum_df['p1']+sum_df['p2']+sum_df['p3']+sum_df['p4'])/(4),1)
sum_df['A'] = np.round( (sum_df['p5']+sum_df['p6']+sum_df['p7'])/(3),1)
sum_df['S'] =np.round( (sum_df['p8']+sum_df['p9'])/(2),1)

sum_df

,model,p1,p2,p3,p4,p5,p6,p7,p8,p9,P,A,S
0,FT-cc,63.3,42.9,64.2,66.9,34.7,46.7,48.5,64.4,63.4,59.3,43.3,63.9
1,FT-wiki,79.7,49.9,82.0,81.1,24.1,45.9,51.0,77.4,79.0,73.2,40.3,78.2
2,BERT,76.0,38.2,72.8,70.4,22.2,41.7,44.2,75.7,73.6,64.4,36.0,74.6
3,BERT-L,78.9,41.5,77.7,77.4,24.2,45.7,50.5,76.1,75.9,68.9,40.1,76.0
4,RoBERTa,76.4,38.4,72.1,70.3,20.2,41.2,46.7,75.6,74.0,64.3,36.0,74.8
5,RoBERTa-L,75.0,37.1,72.4,70.2,23.1,36.0,37.8,75.3,73.2,63.7,32.3,74.2
6,MPNet,85.6,69.3,89.0,87.4,29.1,61.9,69.3,80.0,81.4,82.8,53.4,80.7
7,Scibert,67.5,40.4,65.8,64.1,27.2,43.0,41.7,68.7,66.4,59.4,37.3,67.6
8,CTP,60.1,22.3,40.7,31.6,23.7,24.1,21.3,65.0,57.0,38.7,23.0,61.0
9,ERNIE,78.0,43.0,74.4,74.6,23.0,42.3,47.4,75.5,75.7,67.5,37.6,75.6
10,S-BERT,76.5,51.9,77.6,76.4,31.9,49.9,56.7,69.3,71.5,70.6,46.2,70.4
11,DistilRoB,85.2,68.2,89.9,90.8,33.8,61.2,68.2,77.8,79.5,83.5,54.4,78.6

In [27]:
print(sum_df.iloc[[0,1,2,3,4,5,10,11,6,9,8,7]].to_latex(index=False))

\begin{tabular}{lrrrrrrrrrrrr}
\toprule
    model &   p1 &   p2 &   p3 &   p4 &   p5 &   p6 &   p7 &   p8 &   p9 &    P &    A &    S \\
\midrule
    FT-cc & 63.3 & 42.9 & 64.2 & 66.9 & 34.7 & 46.7 & 48.5 & 64.4 & 63.4 & 59.3 & 43.3 & 63.9 \\
  FT-wiki & 79.7 & 49.9 & 82.0 & 81.1 & 24.1 & 45.9 & 51.0 & 77.4 & 79.0 & 73.2 & 40.3 & 78.2 \\
     BERT & 76.0 & 38.2 & 72.8 & 70.4 & 22.2 & 41.7 & 44.2 & 75.7 & 73.6 & 64.4 & 36.0 & 74.6 \\
   BERT-L & 78.9 & 41.5 & 77.7 & 77.4 & 24.2 & 45.7 & 50.5 & 76.1 & 75.9 & 68.9 & 40.1 & 76.0 \\
  RoBERTa & 76.4 & 38.4 & 72.1 & 70.3 & 20.2 & 41.2 & 46.7 & 75.6 & 74.0 & 64.3 & 36.0 & 74.8 \\
RoBERTa-L & 75.0 & 37.1 & 72.4 & 70.2 & 23.1 & 36.0 & 37.8 & 75.3 & 73.2 & 63.7 & 32.3 & 74.2 \\
   S-BERT & 76.5 & 51.9 & 77.6 & 76.4 & 31.9 & 49.9 & 56.7 & 69.3 & 71.5 & 70.6 & 46.2 & 70.4 \\
DistilRoB & 85.2 & 68.2 & 89.9 & 90.8 & 33.8 & 61.2 & 68.2 & 77.8 & 79.5 & 83.5 & 54.4 & 78.6 \\
    MPNet & 85.6 & 69.3 & 89.0 & 87.4 & 29.1 & 61.9 & 69.3 & 80.0 & 81.4 & 82.8 & 53.4 & 80.7 \\
    ERNIE & 78.0 & 43.0 & 74.4 & 74.6 & 23.0 & 42.3 & 47.4 & 75.5 & 75.7 & 67.5 & 37.6 & 75.6 \\
      CTP & 60.1 & 22.3 & 40.7 & 31.6 & 23.7 & 24.1 & 21.3 & 65.0 & 57.0 & 38.7 & 23.0 & 61.0 \\
  Scibert & 67.5 & 40.4 & 65.8 & 64.1 & 27.2 & 43.0 & 41.7 & 68.7 & 66.4 & 59.4 & 37.3 & 67.6 \\
\bottomrule
\end{tabular}

<ipython-input-27-761c2c0a06dd>:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(sum_df.iloc[[0,1,2,3,4,5,10,11,6,9,8,7]].to_latex(index=False))

# Qualitative results
## Property 1

In [139]:
_models = ['bert-base-cased', 'ctp','ernie-base','sentence-transformers/bert-base-nli-mean-tokens','sentence-transformers/all-distilroberta-v1']
new_df = []
for p in range(1):
    
    for mid,model in enumerate(_models):
        path='computed_results_v2/single_results_concept_p{prop}_{model}.json'.format(prop=p,model=model.replace('/','_'))
        df = pd.read_json(load_json(path), orient="index")
        if len(new_df)==0:
            new_df = df[['tree_id','ent_1','ent_2','ent_3','def_1','def_2','def_3','valid','correct']]
            new_df.rename(columns={"correct": "correct_"+str(mid)}, inplace=True)
        else:
            new_df['correct'+str(mid)] = df['correct']

In [145]:
# Good bert, not ernie
#674    4
#701    5
#652    6
fdf = new_df[(new_df['correct_0']==True)&(new_df['correct2']==False)]
fdf[fdf['tree_id']==652] # more specific field knowledge

# ex 1
#new_df[new_df['tree_id']==652].loc[474]['def_1'],new_df[new_df['tree_id']==652].loc[474]['def_2'],new_df[new_df['tree_id']==652].loc[474]['def_3']

     tree_id                ent_1            ent_2       ent_3                                           def_1                          def_2                                              def_3  valid  correct_0  correct1  correct2  correct3  correct4
484      652       black felt cup  Sarcosomataceae  ascomycete  a common name for a variety of Sarcosomataceae  a type of ascomycetous fungus  any fungus of the class Ascomycetes (or subdiv...      1       True      True     False      True      True
485      652          devil's urn  Sarcosomataceae  ascomycete  a common name for a variety of Sarcosomataceae  a type of ascomycetous fungus  any fungus of the class Ascomycetes (or subdiv...      1       True      True     False      True      True
486      652           winter urn  Sarcosomataceae  ascomycete  a common name for a variety of Sarcosomataceae  a type of ascomycetous fungus  any fungus of the class Ascomycetes (or subdiv...      1       True      True     False      True      True
487      652  charred pancake cup  Sarcosomataceae  ascomycete  a common name for a variety of Sarcosomataceae  a type of ascomycetous fungus  any fungus of the class Ascomycetes (or subdiv...      1       True      True     False     False      True
488      652        devil's cigar  Sarcosomataceae  ascomycete  a common name for a variety of Sarcosomataceae  a type of ascomycetous fungus  any fungus of the class Ascomycetes (or subdiv...      1       True      True     False      True      True
489      652    Rufous rubber cup  Sarcosomataceae  ascomycete  a common name for a variety of Sarcosomataceae  a type of ascomycetous fungus  any fungus of the class Ascomycetes (or subdiv...      1       True      True     False      True      True

In [149]:
fdf.loc[486]['def_1']

'a common name for a variety of Sarcosomataceae'

In [104]:
 # Good ernie, not bert
# Found tree 691, 14 mistakes
# 711, 7 wrong
# 697 6 wrong
new_df[(new_df['correct_0']==False)&(new_df['correct2']==True)]
fdf = new_df[(new_df['correct_0']==False)&(new_df['correct2']==True)]
fdf[fdf['tree_id']==711]

       tree_id           ent_1  ent_2      ent_3                                              def_1                                              def_2                                              def_3  valid  correct_0  correct1  correct2  correct3  correct4
11348      711     alarm clock  clock  timepiece   a clock that wakes a sleeper at some preset time             a timepiece that shows the time of day  a measuring instrument or device for keeping time      1      False      True      True      True      True
11351      711  pendulum clock  clock  timepiece                    a clock regulated by a pendulum             a timepiece that shows the time of day  a measuring instrument or device for keeping time      1      False      True      True      True      True
11353      711      wall clock  clock  timepiece                          a clock mounted on a wall             a timepiece that shows the time of day  a measuring instrument or device for keeping time      1      False      True      True      True      True
11355      711         Big Ben  clock  timepiece  clock in the clock tower of the Houses of Parl...             a timepiece that shows the time of day  a measuring instrument or device for keeping time      1      False      True      True      True      True
11357      711     chronograph  timer  timepiece               an accurate timer for recording time  a timepiece that measures a time interval and ...  a measuring instrument or device for keeping time      1      False      True      True     False     False
11358      711   parking meter  timer  timepiece  a coin-operated timer located next to a parkin...  a timepiece that measures a time interval and ...  a measuring instrument or device for keeping time      1      False      True      True      True      True
11367      711     stem-winder  watch  timepiece  a watch that is wound by turning a knob at the...                         a small portable timepiece  a measuring instrument or device for keeping time      1      False     False      True     False      True

In [102]:
fdf.loc[8054]['def_1'],fdf.loc[8054]['def_2'],fdf.loc[8054]['def_3'] # outrage, atrocity, cruelty, Similar portion phrases 'cruel act'

('a wantonly cruel act',
 'an act of atrocious cruelty',
 'a cruel act; a deliberate infliction of pain and suffering')

In [103]:
fdf.loc[8057]['def_1'],fdf.loc[8057]['def_2'],fdf.loc[8057]['def_3'] # Crucifixion, torture, persecution

('the infliction of extremely painful punishment or suffering',
 'the deliberate, systematic, or wanton infliction of physical or mental suffering by one or more persons in an attempt to force another person to yield information or to make a confession or for any other reason',
 'the act of persecuting (especially on the basis of race or religion)')

In [105]:
fdf.loc[11348]['def_1'],fdf.loc[11348]['def_2'],fdf.loc[11348]['def_3'] # alarm clock, clokc, timeplace, Similar portion phrases 'cruel act'

('a clock that wakes a sleeper at some preset time',
 'a timepiece that shows the time of day',
 'a measuring instrument or device for keeping time')

In [115]:
# Good ernie, s-bert but not bert
# Bigest subtrees
# 711     5
# 741     5
# 691    13
fdf = new_df[(new_df['correct_0']==False)&(new_df['correct2']==True)&(new_df['correct3']==True)]
fdf.head()
#fdf.groupby('tree_id').count()['valid'].sort_values() # similar to ernie

      tree_id               ent_1        ent_2        ent_3                                              def_1                                              def_2                                              def_3  valid  correct_0  correct1  correct2  correct3  correct4
112       649         coextension    extension     longness                  equality of extension or duration  amount or degree or range to which something e...       the property of being of long spatial extent      1      False     False      True      True      True
336       651         pickelhaube       helmet  armor plate            a spiked helmet worn by German soldiers                 armor plate that protects the head  specially hardened steel plate used to protect...      1      False     False      True      True      True
697       653       tennis lesson       lesson     teaching                         a lesson in playing tennis                              a unit of instruction                        the profession of a teacher      1      False     False      True      True     False
1843      659          vox humana    reed stop   organ stop  an organ reed stop producing tones imitative o...   an organ stop with the tone of a reed instrument  a graduated set of organ pipes of like tone qu...      1      False     False      True      True     False
2231      663  Manchester terrier  rat terrier      terrier  a breed of short-haired rat terrier with a bla...  any of several breeds of terrier developed to ...  any of several usually small short-bodied bree...      1      False      True      True      True      True

In [119]:
#Corect sbert not ernie 
#701     5
# 652    11
# 673    15
#fdf.groupby('tree_id').count()['valid'].sort_values() # similar to ernie
fdf = new_df[(new_df['correct2']==False)&(new_df['correct3']==True)]
#fdf.groupby('tree_id').count()['valid'].sort_values() 
fdf[fdf['tree_id']==673] # diff major/mino tranquilizer, tranquilizer

      tree_id                      ent_1               ent_2               ent_3                                              def_1                                              def_2                                              def_3  valid  correct_0  correct1  correct2  correct3  correct4
4511      673             chlorpromazine  major tranquilizer        tranquilizer  a drug (trade name Thorazine) derived from phe...  tranquilizer used to treat psychotic condition...  a drug used to reduce stress or tension withou...      1      False     False     False      True     False
4512      673           prochlorperazine  major tranquilizer        tranquilizer  antipsychotic and antiemetic drug used to trea...  tranquilizer used to treat psychotic condition...  a drug used to reduce stress or tension withou...      1      False      True     False      True      True
4514      673                  molindone  major tranquilizer        tranquilizer  antipsychotic drug (trade name Moban) used in ...  tranquilizer used to treat psychotic condition...  a drug used to reduce stress or tension withou...      1      False      True     False      True      True
4515      673               thioridazine  major tranquilizer        tranquilizer  a tranquilizer (trade name Mellaril) used to t...  tranquilizer used to treat psychotic condition...  a drug used to reduce stress or tension withou...      1       True      True     False      True      True
4516      673   diphenylbutyl piperidine  major tranquilizer        tranquilizer  a group of antipsychotic drugs used mainly in ...  tranquilizer used to treat psychotic condition...  a drug used to reduce stress or tension withou...      1      False      True     False      True      True
4517      673                   loxapine  major tranquilizer        tranquilizer  a tranquilizer (trade name Loxitane) used to t...  tranquilizer used to treat psychotic condition...  a drug used to reduce stress or tension withou...      1      False      True     False      True      True
4518      673          lithium carbonate  major tranquilizer        tranquilizer  a white powder (LiCO3) used in manufacturing g...  tranquilizer used to treat psychotic condition...  a drug used to reduce stress or tension withou...      1      False      True     False      True      True
4521      673                thiothixene  major tranquilizer        tranquilizer  a tranquilizer (trade name Navane) used to tre...  tranquilizer used to treat psychotic condition...  a drug used to reduce stress or tension withou...      1      False      True     False      True     False
4522      673               perphenazine  minor tranquilizer        tranquilizer  tranquilizer and antidepressant (trade name Tr...  a tranquilizer used to relieve anxiety and red...  a drug used to reduce stress or tension withou...      1      False      True     False      True     False
4523      673             benzodiazepine  minor tranquilizer        tranquilizer  any of several similar lipophilic amines used ...  a tranquilizer used to relieve anxiety and red...  a drug used to reduce stress or tension withou...      1       True     False     False      True     False
4524      673                   oxazepam  minor tranquilizer        tranquilizer  a tranquilizing drug (trade name Serax) used t...  a tranquilizer used to relieve anxiety and red...  a drug used to reduce stress or tension withou...      1      False      True     False      True      True
4525      673                 flurazepam  minor tranquilizer        tranquilizer  tranquilizer (trade name Dalmane) used to trea...  a tranquilizer used to relieve anxiety and red...  a drug used to reduce stress or tension withou...      1      False      True     False      True      True
4526      673                  buspirone  minor tranquilizer        tranquilizer  a drug (trade name BuSpar) designed specifical...  a tranquilizer used to relieve anxiety and red...  a drug used to reduce stress or tension withou...      1      False      True     False      True      True
4528      673  hydroxyzine hydrochloride  minor tranquilizer        tranquilizer  a drug (trade names Atarax and Vistaril) used ...  a tranquilizer used to relieve anxiety and red...  a drug used to reduce stress or tension withou...      1      False      True     False      True     False
4531      673                  lorazepam      benzodiazepine  minor tranquilizer  tranquilizer (trade name Ativan) used to treat...  any of several similar lipophilic amines used ...  a tranquilizer used to relieve anxiety and red...      1       True     False     False      True     False

In [120]:
pos = 4516
fdf.loc[pos]['def_1'],fdf.loc[pos]['def_2'],fdf.loc[pos]['def_3'] # outrage, atrocity, cruelty, Similar portion phrases 'cruel act'

('a group of antipsychotic drugs used mainly in the treatment of schizophrenia',
 'tranquilizer used to treat psychotic conditions when a calming effect is desired',
 'a drug used to reduce stress or tension without reducing mental clarity')

In [121]:
fdf[fdf['tree_id']==652] # diff major/mino tranquilizer, tranquilizer

     tree_id                 ent_1            ent_2       ent_3                                              def_1                                              def_2                                              def_3  valid  correct_0  correct1  correct2  correct3  correct4
475      652  Sarcoscypha coccinea      discomycete  ascomycete  a discomycete that is a harbinger of spring; t...  any fungus that is a member of the subclass Di...  any fungus of the class Ascomycetes (or subdiv...      1      False     False     False      True      True
476      652             blood cup      discomycete  ascomycete  a scarlet European fungus with cup-shaped asco...  any fungus that is a member of the subclass Di...  any fungus of the class Ascomycetes (or subdiv...      1      False     False     False      True     False
478      652        Leotia lubrica      discomycete  ascomycete  a discomycete that develops in clusters of sli...  any fungus that is a member of the subclass Di...  any fungus of the class Ascomycetes (or subdiv...      1      False     False     False      True      True
479      652     Peziza domicilina      discomycete  ascomycete  a discomycetous fungus of the genus Peziza; th...  any fungus that is a member of the subclass Di...  any fungus of the class Ascomycetes (or subdiv...      1      False     False     False      True      True
480      652      Aleuria aurantia      discomycete  ascomycete  a discomycete with bright orange cup-shaped or...  any fungus that is a member of the subclass Di...  any fungus of the class Ascomycetes (or subdiv...      1      False     False     False      True     False
482      652      Urnula craterium      discomycete  ascomycete  an urn-shaped discomycete with a nearly black ...  any fungus that is a member of the subclass Di...  any fungus of the class Ascomycetes (or subdiv...      1      False     False     False      True     False
484      652        black felt cup  Sarcosomataceae  ascomycete     a common name for a variety of Sarcosomataceae                      a type of ascomycetous fungus  any fungus of the class Ascomycetes (or subdiv...      1       True      True     False      True      True
485      652           devil's urn  Sarcosomataceae  ascomycete     a common name for a variety of Sarcosomataceae                      a type of ascomycetous fungus  any fungus of the class Ascomycetes (or subdiv...      1       True      True     False      True      True
486      652            winter urn  Sarcosomataceae  ascomycete     a common name for a variety of Sarcosomataceae                      a type of ascomycetous fungus  any fungus of the class Ascomycetes (or subdiv...      1       True      True     False      True      True
488      652         devil's cigar  Sarcosomataceae  ascomycete     a common name for a variety of Sarcosomataceae                      a type of ascomycetous fungus  any fungus of the class Ascomycetes (or subdiv...      1       True      True     False      True      True
489      652     Rufous rubber cup  Sarcosomataceae  ascomycete     a common name for a variety of Sarcosomataceae                      a type of ascomycetous fungus  any fungus of the class Ascomycetes (or subdiv...      1       True      True     False      True      True

In [122]:
pos = 478
fdf.loc[pos]['def_1'],fdf.loc[pos]['def_2'],fdf.loc[pos]['def_3'] # takes out better ifnromation (specialized)

('a discomycete that develops in clusters of slippery rubbery gelatinous fruiting bodies that are dingy yellow to tan in color',
 'any fungus that is a member of the subclass Discomycetes',
 'any fungus of the class Ascomycetes (or subdivision Ascomycota) in which the spores are formed inside an ascus')

## Property 2

In [123]:
_models = ['bert-base-cased', 'ctp','ernie-base','sentence-transformers/bert-base-nli-mean-tokens','sentence-transformers/all-distilroberta-v1']
new_df = []
for p in range(1,2):
    
    for mid,model in enumerate(_models):
        path='computed_results_v2/single_results_concept_p{prop}_{model}.json'.format(prop=p,model=model.replace('/','_'))
        df = pd.read_json(load_json(path), orient="index")
        if len(new_df)==0:
            new_df = df[['tree_id','ent_1','ent_2','ent_3','def_1','def_2','def_3','valid','correct']]
            new_df.rename(columns={"correct": "correct_"+str(mid)}, inplace=True)
        else:
            new_df['correct'+str(mid)] = df['correct']

In [130]:
# Good bert, not ernie
fdf = new_df[(new_df['correct_0']==True)&(new_df['correct2']==False)]
#fdf.groupby('tree_id').count()['valid'].sort_values()
# Top subtrees
# 741    31
# 703    33
# 757    53
fdf[fdf['tree_id']==757] # more specific field knowledge
pos = 84876
fdf.loc[pos]['def_1'],fdf.loc[pos]['def_2'],fdf.loc[pos]['def_3'] # takes out better ifnromation (specialized)

('thick-walled asexual resting spore of certain fungi and algae',
 'a small usually single-celled asexual reproductive body produced by many nonflowering plants and fungi and some bacteria and protozoans and that are capable of developing into a new individual without sexual fusion',
 'one of the four asexual spores produced within a sporangium')

In [133]:
fdf[fdf['tree_id']==703] # more specific field knowledge
pos = 41738
fdf.loc[pos]['def_1'],fdf.loc[pos]['def_2'],fdf.loc[pos]['def_3'] # takes out better ifnromation (specialized)

('made with three slices of usually toasted bread',
 'two (or more) slices of bread with a filling between them',
 'sandwich without a covering slice of bread')

In [135]:
# Good ernie, not bert
fdf = new_df[(new_df['correct_0']==False)&(new_df['correct2']==True)]
fdf.groupby('tree_id').count()['valid'].sort_values()
# Top trees
# 686     46
# 691    111
# 741    130

tree_id
649      1
709      1
700      1
752      1
755      1
      ...
730     41
758     43
686     46
691    111
741    130
Name: valid, Length: 83, dtype: int64

In [137]:
fdf[fdf['tree_id']==741].loc[70232]

tree_id                                                    741
ent_1                                                     agar
ent_2                                                      gum
ent_3                                                gum butea
def_1        a colloidal extract of algae; used especially ...
def_2        any of various substances (soluble in water) t...
def_3        dried juice of the dhak tree; used as an astri...
valid                                                        1
correct_0                                                False
correct1                                                  True
correct2                                                  True
correct3                                                  True
correct4                                                  True
Name: 70232, dtype: object

In [138]:
fdf[fdf['tree_id']==741].loc[70232]['def_1'],fdf[fdf['tree_id']==741].loc[70232]['def_2'],fdf[fdf['tree_id']==741].loc[70232]['def_3']
# traits on 'algae' - 'tree'. 'algae' - 'plants', 'food' ' juice'

('a colloidal extract of algae; used especially in culture media and as a gelling agent in foods',
 'any of various substances (soluble in water) that exude from certain plants; they are gelatinous when moist but harden on drying',
 'dried juice of the dhak tree; used as an astringent')

# Gather results obtained after parallel launch with gather_results.py script (Hyponymy LEAR)

In [8]:
basepath = './computed_results_hypo'
_dataset_base = "/users/cost/jlovonme/data"
_inputtype = 'concept' # name or concept
#_methods = ['cls','avg_all']
_methods = ['cls','avg_a','cls_l1','avg_l1','cls_l2','avg_l2','cls_l3','avg_l3','ecls','eavg','ecls_l1','eavg_l1','ecls_l2','eavg_l2','ecls_l3','eavg_l3']
_models = ['ft-cc','ft-wiki','bert-base-cased','bert-large-cased','roberta-base','roberta-large','sentence-transformers/all-mpnet-base-v2',
          #'allenai/scibert_scivocab_cased','ctp',
           'ernie-base','sentence-transformers/bert-base-nli-mean-tokens','sentence-transformers/all-distilroberta-v1']
#_models = ['bert-base-cased']
orderedmethod = ['cls','cls_l1','cls_l2','cls_l3','avg_a','avg_l1','avg_l2','avg_l3','ecls','ecls_l1','ecls_l2','ecls_l3','eavg','eavg_l1','eavg_l2','eavg_l3']

In [9]:
_bigdf = create_table_results('concept', _models,props=9 )
_lastlayers = get_last_layers(_bigdf)

In [10]:
for p in range(1):
    #for method in _methods:
    print("Property",p)
    display(get_last_by_prop(_lastlayers,p)[['input','model','prop','layer',*orderedmethod]])

Property 0

,input,model,prop,layer,cls,cls_l1,cls_l2,cls_l3,avg_a,avg_l1,avg_l2,avg_l3,ecls,ecls_l1,ecls_l2,ecls_l3,eavg,eavg_l1,eavg_l2,eavg_l3
0,concept,bert-base-cased,0,12,72.61,45.78,61.95,56.24,76.03,38.68,67.94,57.35,72.40,72.47,72.40,72.61,75.68,75.89,75.61,75.68
0,concept,bert-large-cased,0,24,68.15,53.24,64.95,63.48,78.89,50.38,77.42,72.61,68.71,68.57,68.78,68.78,77.98,78.12,77.98,77.98
0,concept,ernie-base,0,12,68.99,40.63,57.63,50.73,78.05,40.21,73.38,62.58,69.20,68.85,69.06,68.99,77.77,77.70,77.70,77.70
0,concept,ft-cc,0,0,63.34,52.33,55.40,52.75,63.34,52.33,55.40,52.75,60.35,57.00,59.23,57.21,60.35,57.00,59.23,57.21
0,concept,ft-wiki,0,0,79.65,53.10,72.13,62.02,79.65,53.10,72.13,62.02,77.00,78.47,77.42,78.19,77.00,78.47,77.42,78.19
0,concept,roberta-base,0,12,65.99,49.55,51.15,50.45,76.38,37.77,44.25,40.49,66.27,61.18,66.27,65.92,76.59,76.31,76.52,76.52
0,concept,roberta-large,0,24,58.54,55.05,58.75,59.16,75.05,46.62,56.45,50.52,58.54,58.54,58.54,58.54,74.84,74.08,74.84,74.84
0,concept,sentence-transformers/all-distilroberta-v1,0,6,83.14,52.20,82.72,80.70,85.16,49.13,79.86,74.15,79.09,79.30,79.09,79.09,80.63,81.05,80.63,80.70
0,concept,sentence-transformers/all-mpnet-base-v2,0,12,83.21,77.70,82.86,82.09,85.64,76.03,85.78,84.39,83.14,83.28,83.28,83.41,85.64,85.71,85.71,85.71
0,concept,sentence-transformers/bert-base-nli-mean-tokens,0,12,76.45,52.89,74.91,73.73,76.52,46.62,75.75,73.94,76.59,76.72,76.59,76.59,77.28,77.35,77.28,77.28

In [12]:
basepath = './computed_results_hyper'
_bigdf = create_table_results('concept', _models,props=1 )
_lastlayers = get_last_layers(_bigdf)

In [14]:
for p in range(1):
    #for method in _methods:
    print("Property",p)
    df = get_last_by_prop(_lastlayers,p)[['input','model','prop','layer',*orderedmethod]]
    display(get_last_by_prop(_lastlayers,p)[['input','model','prop','layer',*orderedmethod]])

Property 0

,input,model,prop,layer,cls,cls_l1,cls_l2,cls_l3,avg_a,avg_l1,avg_l2,avg_l3,ecls,ecls_l1,ecls_l2,ecls_l3,eavg,eavg_l1,eavg_l2,eavg_l3
0,concept,bert-base-cased,0,12,72.61,56.45,68.01,63.97,76.03,63.69,74.49,72.89,72.40,72.20,72.40,72.47,75.68,75.61,75.68,75.68
0,concept,bert-large-cased,0,24,68.15,48.01,68.43,63.14,78.89,54.15,75.75,72.54,68.71,68.92,68.71,68.85,77.98,77.63,77.91,77.91
0,concept,ernie-base,0,12,68.99,61.39,71.15,67.94,78.05,64.39,76.59,73.03,69.20,69.62,69.13,69.13,77.77,78.05,77.70,77.70
0,concept,ft-cc,0,0,63.34,55.82,57.63,55.68,63.34,55.82,57.63,55.68,60.35,56.59,59.65,56.86,60.35,56.59,59.65,56.86
0,concept,ft-wiki,0,0,79.65,62.23,72.68,68.78,79.65,62.23,72.68,68.78,77.00,73.45,76.52,75.26,77.00,73.45,76.52,75.26
0,concept,roberta-base,0,12,65.99,50.45,52.20,50.52,76.38,63.00,69.83,67.39,66.27,62.44,66.34,66.90,76.59,76.45,76.52,76.38
0,concept,roberta-large,0,24,58.54,47.94,58.12,58.05,75.05,53.45,65.51,59.51,58.54,58.54,58.54,58.54,74.84,75.05,74.84,74.84
0,concept,sentence-transformers/all-distilroberta-v1,0,6,83.14,54.63,79.51,77.56,85.16,56.72,81.46,77.49,79.09,79.09,79.09,79.09,80.63,80.07,80.56,80.49
0,concept,sentence-transformers/all-mpnet-base-v2,0,12,83.21,77.28,83.34,82.23,85.64,77.98,85.78,85.85,83.14,82.93,83.14,83.34,85.64,85.78,85.71,85.92
0,concept,sentence-transformers/bert-base-nli-mean-tokens,0,12,76.45,60.56,76.45,75.75,76.52,64.53,77.42,78.05,76.59,76.66,76.59,76.59,77.28,77.21,77.28,77.28

In [23]:
df[['model','cls','avg_a','ecls','eavg']].set_index('model').transpose()
#df[['model','cls','avg_a','ecls','eavg']].transpose()

model,bert-base-cased,bert-large-cased,ernie-base,ft-cc,ft-wiki,roberta-base,roberta-large,sentence-transformers/all-distilroberta-v1,sentence-transformers/all-mpnet-base-v2,sentence-transformers/bert-base-nli-mean-tokens
cls,72.61,68.15,68.99,63.34,79.65,65.99,58.54,83.14,83.21,76.45
avg_a,76.03,78.89,78.05,63.34,79.65,76.38,75.05,85.16,85.64,76.52
ecls,72.40,68.71,69.20,60.35,77.00,66.27,58.54,79.09,83.14,76.59
eavg,75.68,77.98,77.77,60.35,77.00,76.59,74.84,80.63,85.64,77.28

In [29]:
# table to show in Latex: We study only property 1 because similar trends in others\
# Also main works focus on hypernym, so we study representations on property 1 that fit best to this type of evaluation, to be fair with enhanced models
# We use the concept input (w/ definitions) because they are contextualized models
# We evalaute cosinus distance, since euclidean gives similar trends, and it's a lot of space
cur_df = get_last_by_prop(_lastlayers,0)[['model','cls','avg_a','ecls','eavg']]
for m in ['cls','avg_a','ecls','eavg']:
    cur_df[m]=cur_df[m].round(decimals=1)
cur_df['model'] = ['BERT','BERT-L','ERNIE','FT-cc','FT-wiki','RoBERTa','RoBERTa-L','DistilRoB','MPNet','S-BERT']
cur_df = cur_df.set_index('model')
cur_df = cur_df.transpose()[['BERT','BERT-L','RoBERTa','RoBERTa-L','S-BERT','DistilRoB','MPNet','ERNIE']]
#cur_df = cur_df.transpose()[]
print(cur_df.to_latex(index=True))

\begin{tabular}{lrrrrrrrr}
\toprule
model &  BERT &  BERT-L &  RoBERTa &  RoBERTa-L &  S-BERT &  DistilRoB &  MPNet &  ERNIE \\
\midrule
cls   &  72.6 &    68.2 &     66.0 &       58.5 &    76.4 &       83.1 &   83.2 &   69.0 \\
avg\_a &  76.0 &    78.9 &     76.4 &       75.0 &    76.5 &       85.2 &   85.6 &   78.0 \\
ecls  &  72.4 &    68.7 &     66.3 &       58.5 &    76.6 &       79.1 &   83.1 &   69.2 \\
eavg  &  75.7 &    78.0 &     76.6 &       74.8 &    77.3 &       80.6 &   85.6 &   77.8 \\
\bottomrule
\end{tabular}

<ipython-input-29-487907b8edbc>:12: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(cur_df.to_latex(index=True))